<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>编辑电影语言页</title>
    <meta name="description" content="编辑电影语言页"/>
    <meta name="keywords" content="index"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
</head>
<body data-type="generalComponents">
<!-- 顶部菜单栏 -->
<div th:replace="/admin/header :: header"></div>
<div class="tpl-page-container tpl-page-header-fixed">
	<!-- 左边菜单栏 -->
	<div th:replace="/admin/nav :: div"></div>
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">电影语言列表</div>
        <ol class="am-breadcrumb">
            <li><a href="/admin/index" class="am-icon-home">首页</a></li>
            <li><a href="#">电影语言管理</a></li>
            <li><a href="/admin/variety">电影语言列表</a></li>
            <li class="am-active">编辑电影语言信息</li>
        </ol>
        <div class="tpl-portlet-components">
            <div class="tpl-block ">
                <div class="am-g tpl-amazeui-form">
                    <div class="am-u-sm-12 am-u-md-9">
                        <form id="doc-vld-msg" class="am-form am-form-horizontal" action="/admin/movieResources/update" method="post">
                            <input type="hidden" th:value="${movieResources.id}" name="id"/>
                            <div class="am-form-group">
                                <label for="downlodLink" class="am-u-sm-3 am-form-label">资源种子或资源链接</label>
                                <div class="am-u-sm-9">
                                    <input th:value="${movieResources.downlodLink}" type="text" id="downlodLink" name="downlodLink" placeholder="资源种子或资源链接" data-validation-message="请填写资源种子或资源链接" required="required"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="size" class="am-u-sm-3 am-form-label">视频大小</label>
                                <div class="am-u-sm-9">
                                    <input maxlength="6" onkeyup="this.value=this.value.replace(/\D/g,'')" th:value="${movieResources.size}" type="text" id="size" name="size" placeholder="视频大小" data-validation-message="请填写视频大小" required="required"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="clarity" class="am-u-sm-3 am-form-label">清晰度</label>
                                <div class="am-u-sm-9">
                                    <input th:value="${movieResources.clarity}" type="text" id="clarity" name="clarity" placeholder="清晰度" data-validation-message="请填写清晰度" required="required"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="downlodMode" class="am-u-sm-3 am-form-label">下载方式</label>
                                <div class="am-u-sm-9">
                                    <select data-am-selected="{searchBox: 1}" name="downlodMode" required="required" data-validation-message="请选择下载方式">
                                        <option value="1">迅雷</option>
                                        <option value="2" th:selected="${movieResources.downlodMode==false}">百度云</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success">提交
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/layer/layer.js"></script>
<script src="/js/jquery.form.js"></script>
<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
		$(function() {
		  $('#doc-vld-msg').validator({
		    onValid: function(validity) {
		      $(validity.field).closest('.am-form-group').find('.am-alert').hide();
		    }, 
		    onInValid: function(validity) {
		      var $field = $(validity.field);
		      var $group = $field.closest('.am-form-group .am-u-sm-9');
		      var $alert = $group.find('.am-alert');
		      // 使用自定义的提示信息 或 插件内置的提示信息
		      var msg = $field.data('validationMessage') || this.getValidationMessage(validity);
		
		      if (!$alert.length) {
		        $alert = $('<div class="am-alert am-alert-danger"></div>').hide().
		          appendTo($group);
		      } 
		      $alert.html(msg).show();
		    }
		  });
		// from表单ajax控制提交，并接受返回的json数据
		  	var options = {   
		        type: 'POST',  
		        url: '/admin/movieResources/update',  
		        success : function(xhr, status, err) {  
		        	layer.msg(xhr.message, { icon: 1, shade: 0.5 });
					setTimeout(function(){
						window.location= "/admin/movieResources/list"; //刷新父页面
					}		
					, 1000);
		        } ,    
		        dataType: 'json',  
		        error : function(xhr, status, err) {  
		        	layer.msg( "修改失败!" );             
		        }  
		    };  
		    $("#doc-vld-msg").submit(function(){   
		        $(this).ajaxSubmit(options);   
		        return false;   //防止表单自动提交  
		    });
		});
    //]]>
</script>
</body>
</html>