<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>添加页</title>
    <meta name="description" content="这是一个 index 页面"/>
    <meta name="keywords" content="index"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
</head>
<body data-type="generalComponents">
<!-- 顶部菜单栏 -->
<div th:replace="/admin/header :: header"></div>
<div class="tpl-page-container tpl-page-header-fixed">
	<!-- 左边菜单栏 -->
	<div th:replace="/admin/nav :: div"></div>
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">电视剧列表</div>
        <ol class="am-breadcrumb">
            <li><a href="/admin/index" class="am-icon-home">首页</a></li>
            <li><a href="/admin/tv">电视剧管理</a></li>
            <li><a href="/admin/tv">电视剧列表</a></li>
            <li class="am-active">添加电视剧</li>
        </ol>
        <div class="tpl-portlet-components">
            <div class="tpl-block ">
                <div class="am-g tpl-amazeui-form">
                    <div class="am-u-sm-12 am-u-md-9">
                        <form id="doc-vld-msg" class="am-form am-form-horizontal" action="/admin/tv/save">
                            <div class="am-form-group">
                                <label for="name" class="am-u-sm-3 am-form-label">电视剧名称</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="name" name="name" placeholder="请输入电视剧名称" data-validation-message="请填写电视剧名称" required="required" />
                                	<!-- <small>电视剧名称为必填</small> -->
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="asName" class="am-u-sm-3 am-form-label">又名</label>
                                <div class="am-u-sm-9">
                                    <input type="text" required="required" name="asName"  id="asName" placeholder="请输入电视剧名称" data-validation-message="请填写电视剧名称" />
                                	<!-- <small>又名为必填</small> -->
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-intro" class="am-u-sm-3 am-form-label">是否为热门</label>
                                <div class="am-u-sm-9">
                                    <div class="tpl-switch">
                                        <input type="checkbox" name="isHot" class="ios-switch bigswitch tpl-switch-btn"/>
                                        <div class="tpl-switch-btn-view">
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">总集数</label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="total" placeholder="输入总集数" data-validation-message="请填写电视剧总集数"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">更新至 </label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="recent" placeholder="输入最近更新至多少集" data-validation-message="请填写电视剧最近更新至多少集"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">导演</label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="director" placeholder="输入导演" data-validation-message="请填写电视剧导演"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-weibo" class="am-u-sm-3 am-form-label">演员</label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="actors" id="user-weibo" placeholder="请添加演员用逗号隔开" data-validation-message="请填写电视剧演员"/>
                                    <div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-phone" class="am-u-sm-3 am-form-label">分类</label>
                                <div class="am-u-sm-9">
                                    <select name="typeId">
                                        <option th:each="list1,item:${typeList}" th:value="${list1.id}" th:text="${list1.typeName}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-phone" class="am-u-sm-3 am-form-label">地区</label>
                                <div class="am-u-sm-9">
                                    <select name="areaId">
                                        <option th:each="list2,item:${areaList}" th:value="${list2.id}" th:text="${list2.areaName}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-phone" class="am-u-sm-3 am-form-label">上映年份 </label>
                                <div class="am-u-sm-9">
                                    <input name="year" required="required" type="text" placeholder="输入上映年份 "/>
                                	<!-- <small>上映年份为必填</small> -->
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">上映日期</label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="releaseDate"  required="required" 
                                    class="am-form-field tpl-form-no-bg" placeholder="上映日期" data-validation-message="请填写电视剧上映日期" data-am-datepicker="" readonly=""/>
                                    <!-- th:value="${#dates.format(tv.releaseDate, 'yyyy-MM-dd')}" -->
                                    <!-- <small>上映日期为必填</small> -->
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">更新日期 </label>
                                <div class="am-u-sm-9">
                                    <input type="text" required="required" name="updatedDate" 
                                    class="am-form-field tpl-form-no-bg" placeholder="更新日期 " data-validation-message="请填写电视剧更新日期" data-am-datepicker="" readonly=""/>
                                    <!-- <small>更新日期为必填</small> -->
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">时长</label>
                                <div class="am-u-sm-9">
                                    <input name="timeSize" type="text" placeholder="输入时长" data-validation-message="请填写电视剧播放时长"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">豆瓣评分</label>
                                <div class="am-u-sm-9">
                                    <input name="watercressScore" type="text" placeholder="输入豆瓣评分" data-validation-message="请填写电视剧豆瓣评分"/>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-weibo" class="am-u-sm-3 am-form-label">视频截图</label>
                                <div class="am-u-sm-9">
                                    <div class="am-form-group am-form-file">
                                        <div class="tpl-form-file-img">
                                            <img src="assets/img/a5.png" alt=""/>
                                        </div>
                                        <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                            <i class="am-icon-cloud-upload"></i> 添加视频截图
                                        </button>
                                        <input id="doc-form-file" type="file" multiple=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="user-intro" class="am-u-sm-3 am-form-label">剧情介绍</label>
                                <div class="am-u-sm-9">
                                    <textarea class="" name="synopsis" rows="10" id="user-intro" placeholder="请输入剧情介绍" data-validation-message="请填写电视剧剧情介绍"></textarea>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/amazeui.min.js"></script>
<script src="../../assets/js/app.js"></script>
<script src="../../layer/layer.js"></script>
<script type="text/javascript" th:inline="javascript">
//<![CDATA[
$(function() {
  $('#doc-vld-msg').validator({
    onValid: function(validity) {
      $(validity.field).closest('.am-form-group').find('.am-alert').hide();
    }, 
    onInValid: function(validity) {
      var $field = $(validity.field);
      var $group = $field.closest('.am-form-group .am-u-sm-9');
      var $alert = $group.find('.am-alert');
      // 使用自定义的提示信息 或 插件内置的提示信息
      var msg = $field.data('validationMessage') || this.getValidationMessage(validity);

      if (!$alert.length) {
        $alert = $('<div class="am-alert am-alert-danger"></div>').hide().
          appendTo($group);
      } 
      $alert.html(msg).show();
    }
  });
});
//]]>
</script>
</body>
</html>