.fl{float:left;}
.fr{float: right!important;}
.c_9{color: #999999;}
.c_504{color: #5047a3}
.c_2b{color: #2b6da4}
.c_a4{color: #a42c81}
.bg_2b{border-bottom:2px solid #2b6da4!important;}
.bg_a4{border-bottom:2px solid #a42c81!important;}
.bg_504{border-bottom:2px solid #5047a3!important;}
.bg_white{background: white;}
