<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/task 
    http://www.springframework.org/schema/task/spring-task.xsd ">

	<task:annotation-driven />
	<context:annotation-config />
	<context:component-scan base-package="com.xiaoyi.ssm.quartz" />
	
	<!-- 定义一个job -->
    <bean id="estateAvgJob" class="com.xiaoyi.ssm.quartz.EstateAvgJob"></bean>
    <bean id="topTagCountJob" class="com.xiaoyi.ssm.quartz.TopTagCountJob"></bean>
    <bean id="cityJob" class="com.xiaoyi.ssm.quartz.CityJob"></bean>
    <!-- 定义一个 MethodInvokingJobDetailFactoryBean-->
    <bean id="methodInvokingJobDetailFactoryBean" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="estateAvgJob"></property>
        <property name="targetMethod" value="estateAvg"></property>
    </bean>
    <bean id="topTagCountJobBean" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="topTagCountJob"></property>
        <property name="targetMethod" value="topTagCount"></property>
    </bean>
    <bean id="cityJobBean" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="cityJob"></property>
        <property name="targetMethod" value="cityJobMap"></property>
    </bean>
    <!-- 指定时间 -->
    <bean id="cronTrigger_1" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="methodInvokingJobDetailFactoryBean"></property>
        <property name="startDelay" value="0" />
        <property name="cronExpression" value="0 0 0/2 * * ? "></property>
    </bean> 
    <bean id="cronTrigger_2" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="topTagCountJobBean"></property>
        <property name="startDelay" value="0" />
        <property name="cronExpression" value="0 0/1 * * * ? "></property>
    </bean> 
    <bean id="cronTrigger_3" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="cityJobBean"></property>
        <property name="startDelay" value="0" />
        <property name="cronExpression" value="0 0 0 1/7 * ? "></property>
    </bean> 

    <!-- 指定调度器 -->
    <bean id="schedule" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTrigger_1"/>
                <ref bean="cronTrigger_2"/>
                <ref bean="cronTrigger_3"/>
            </list>
        </property>
    </bean>
</beans>
