<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.DistrictMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.District">
		<id column="ID" jdbcType="CHAR" property="id" />
		<result column="DistrictNo" jdbcType="INTEGER" property="districtno" />
		<result column="District" jdbcType="VARCHAR" property="district" />
		<result column="Latitude" jdbcType="DOUBLE" property="latitude" />
		<result column="Longitude" jdbcType="DOUBLE" property="longitude" />
		<result column="CityID" jdbcType="CHAR" property="cityid" />
		<result column="City" jdbcType="VARCHAR" property="city" />
		<result column="TotalRent" jdbcType="INTEGER" property="totalrent" />
		<result column="TotalSale" jdbcType="INTEGER" property="totalsale" />
		<result column="TotalTown" jdbcType="INTEGER" property="totaltown" />
		<result column="TotalRefresh" jdbcType="TIMESTAMP" property="totalrefresh" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, DistrictNo, District, Latitude, Longitude, CityID, City, TotalRent,
		TotalSale,
		TotalTown, TotalRefresh
	</sql>
	
	<select id="selectByDistrictName" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT * FROM District WHERE District = #{name} limit 1
	</select>
	
	<select id="countDistrictByCity" parameterType="java.lang.String" resultType="Integer">
		select count(*) from District where CityID = #{cityId,jdbcType=CHAR}
	</select>
	
	<select id="selectByPrimaryKey" parameterType="com.xiaoyi.ssm.model.District"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from District
		where ID = #{id,jdbcType=CHAR}
	</select>
	
	<select id="selectByAll" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from District
		<where>
			<if test="districtno != null">
				AND DistrictNo = #{districtno,jdbcType=INTEGER}
			</if>
			<if test="district != null">
				AND District = #{district,jdbcType=VARCHAR}
			</if>
			<if test="latitude != null">
				AND Latitude = #{latitude,jdbcType=DOUBLE}
			</if>
			<if test="longitude != null">
				AND Longitude = #{longitude,jdbcType=DOUBLE}
			</if>
			<if test="cityid != null">
				AND CityID = #{cityid,jdbcType=CHAR}
			</if>
			<if test="city != null">
				AND City = #{city,jdbcType=VARCHAR}
			</if>
			<if test="totalrent != null">
				AND TotalRent = #{totalrent,jdbcType=INTEGER}
			</if>
			<if test="totalsale != null">
				AND TotalSale = #{totalsale,jdbcType=INTEGER}
			</if>
			<if test="totaltown != null">
				AND TotalTown = #{totaltown,jdbcType=INTEGER}
			</if>
			<if test="totalrefresh != null">
				AND TotalRefresh = #{totalrefresh,jdbcType=TIMESTAMP}
			</if>
		</where>
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from District
		where ID = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.District">
		insert into District (ID, DistrictNo, District,
		Latitude, Longitude, CityID,
		City, TotalRent, TotalSale,
		TotalTown, TotalRefresh)
		values (#{id,jdbcType=CHAR}, #{districtno,jdbcType=INTEGER},
		#{district,jdbcType=VARCHAR},
		#{latitude,jdbcType=DOUBLE}, #{longitude,jdbcType=DOUBLE}, #{cityid,jdbcType=CHAR},
		#{city,jdbcType=VARCHAR}, #{totalrent,jdbcType=INTEGER},
		#{totalsale,jdbcType=INTEGER},
		#{totaltown,jdbcType=INTEGER}, #{totalrefresh,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.District">
		insert into District
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="districtno != null">
				DistrictNo,
			</if>
			<if test="district != null">
				District,
			</if>
			<if test="latitude != null">
				Latitude,
			</if>
			<if test="longitude != null">
				Longitude,
			</if>
			<if test="cityid != null">
				CityID,
			</if>
			<if test="city != null">
				City,
			</if>
			<if test="totalrent != null">
				TotalRent,
			</if>
			<if test="totalsale != null">
				TotalSale,
			</if>
			<if test="totaltown != null">
				TotalTown,
			</if>
			<if test="totalrefresh != null">
				TotalRefresh,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="districtno != null">
				#{districtno,jdbcType=INTEGER},
			</if>
			<if test="district != null">
				#{district,jdbcType=VARCHAR},
			</if>
			<if test="latitude != null">
				#{latitude,jdbcType=DOUBLE},
			</if>
			<if test="longitude != null">
				#{longitude,jdbcType=DOUBLE},
			</if>
			<if test="cityid != null">
				#{cityid,jdbcType=CHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="totalrent != null">
				#{totalrent,jdbcType=INTEGER},
			</if>
			<if test="totalsale != null">
				#{totalsale,jdbcType=INTEGER},
			</if>
			<if test="totaltown != null">
				#{totaltown,jdbcType=INTEGER},
			</if>
			<if test="totalrefresh != null">
				#{totalrefresh,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.District">
		update District
		<set>
			<if test="districtno != null">
				DistrictNo = #{districtno,jdbcType=INTEGER},
			</if>
			<if test="district != null">
				District = #{district,jdbcType=VARCHAR},
			</if>
			<if test="latitude != null">
				Latitude = #{latitude,jdbcType=DOUBLE},
			</if>
			<if test="longitude != null">
				Longitude = #{longitude,jdbcType=DOUBLE},
			</if>
			<if test="cityid != null">
				CityID = #{cityid,jdbcType=CHAR},
			</if>
			<if test="city != null">
				City = #{city,jdbcType=VARCHAR},
			</if>
			<if test="totalrent != null">
				TotalRent = #{totalrent,jdbcType=INTEGER},
			</if>
			<if test="totalsale != null">
				TotalSale = #{totalsale,jdbcType=INTEGER},
			</if>
			<if test="totaltown != null">
				TotalTown = #{totaltown,jdbcType=INTEGER},
			</if>
			<if test="totalrefresh != null">
				TotalRefresh = #{totalrefresh,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.District">
		update District
		set DistrictNo = #{districtno,jdbcType=INTEGER},
		District = #{district,jdbcType=VARCHAR},
		Latitude = #{latitude,jdbcType=DOUBLE},
		Longitude = #{longitude,jdbcType=DOUBLE},
		CityID = #{cityid,jdbcType=CHAR},
		City = #{city,jdbcType=VARCHAR},
		TotalRent = #{totalrent,jdbcType=INTEGER},
		TotalSale = #{totalsale,jdbcType=INTEGER},
		TotalTown = #{totaltown,jdbcType=INTEGER},
		TotalRefresh = #{totalrefresh,jdbcType=TIMESTAMP}
		where ID = #{id,jdbcType=CHAR}
	</update>
</mapper>