<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.MassPropertyEstateNameMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.MassPropertyEstateName">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="WebID" jdbcType="VARCHAR" property="webid" />
		<result column="EstateName" jdbcType="VARCHAR" property="estatename" />
		<result column="MassPropertyID" jdbcType="VARCHAR" property="masspropertyid" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, WebID, EstateName, MassPropertyID
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from MassPropertyEstateName
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<select id="selectByPropertyId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from MassPropertyEstateName
		where MassPropertyID = #{masspropertyid,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from MassPropertyEstateName
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.MassPropertyEstateName">
		insert into MassPropertyEstateName (ID, WebID, EstateName,
		MassPropertyID)
		values (#{id,jdbcType=VARCHAR}, #{webid,jdbcType=VARCHAR},
		#{estatename,jdbcType=VARCHAR},
		#{masspropertyid,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.MassPropertyEstateName">
		insert into MassPropertyEstateName
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="webid != null">
				WebID,
			</if>
			<if test="estatename != null">
				EstateName,
			</if>
			<if test="masspropertyid != null">
				MassPropertyID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="webid != null">
				#{webid,jdbcType=VARCHAR},
			</if>
			<if test="estatename != null">
				#{estatename,jdbcType=VARCHAR},
			</if>
			<if test="masspropertyid != null">
				#{masspropertyid,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.MassPropertyEstateName">
		update MassPropertyEstateName
		<set>
			<if test="webid != null">
				WebID = #{webid,jdbcType=VARCHAR},
			</if>
			<if test="estatename != null">
				EstateName = #{estatename,jdbcType=VARCHAR},
			</if>
			<if test="masspropertyid != null">
				MassPropertyID = #{masspropertyid,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.MassPropertyEstateName">
		update MassPropertyEstateName
		set WebID = #{webid,jdbcType=VARCHAR},
		EstateName = #{estatename,jdbcType=VARCHAR},
		MassPropertyID = #{masspropertyid,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>