<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.MassPersonBuyWantMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.MassPersonBuyWant">
		<id column="mpbwID" jdbcType="CHAR" property="id" />
		<result column="mpbwCollectDate" jdbcType="TIMESTAMP" property="collectdate" />
		<result column="mpbwSite" jdbcType="VARCHAR" property="site" />
		<result column="mpbwCity" jdbcType="VARCHAR" property="city" />
		<result column="mpbwDistrict" jdbcType="VARCHAR" property="district" />
		<result column="mpbwArea" jdbcType="VARCHAR" property="area" />
		<result column="mpbwEstate" jdbcType="VARCHAR" property="estate" />
		<result column="mpbwTitle" jdbcType="VARCHAR" property="title" />
		<result column="mpbwType" jdbcType="VARCHAR" property="type" />
		<result column="mpbwSquare" jdbcType="DECIMAL" property="square" />
		<result column="mpbwCountF" jdbcType="INTEGER" property="countf" />
		<result column="mpbwCountT" jdbcType="INTEGER" property="countt" />
		<result column="mpbwCountW" jdbcType="INTEGER" property="countw" />
		<result column="mpbwImg" jdbcType="INTEGER" property="img" />
		<result column="mpbwPrice" jdbcType="INTEGER" property="price" />
		<result column="mpbwRegDate" jdbcType="VARCHAR" property="regdate" />
		<result column="mpbwRegName" jdbcType="VARCHAR" property="regname" />
		<result column="mpbwRegTel" jdbcType="VARCHAR" property="regtel" />
		<result column="mpbwDetailPath" jdbcType="VARCHAR" property="detailpath" />
		<result column="mpbwFlagDeleted" jdbcType="TINYINT" property="flagdeleted" />
		<result column="mpbwDeletedTime" jdbcType="TIMESTAMP" property="deletedtime" />
		<result column="mpbwRemark" jdbcType="VARCHAR" property="remark" />
		<association property="empCustPerson" javaType="com.xiaoyi.ssm.model.EmpCustPerson">
			<id column="ecpID" jdbcType="VARCHAR" property="id" />
			<result column="ecpEmpId" jdbcType="VARCHAR" property="empid" />
			<result column="ecpHouseId" jdbcType="VARCHAR" property="houseid" />
			<result column="ecpHouseType" jdbcType="VARCHAR" property="housetype" />
			<result column="ecpCreateTime" jdbcType="TIMESTAMP" property="createtime" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		mpbw.ID mpbwID, mpbw.CollectDate mpbwCollectDate, mpbw.Site mpbwSite,
		mpbw.City mpbwCity, mpbw.District mpbwDistrict, mpbw.Area mpbwArea,
		mpbw.Estate mpbwEstate, mpbw.Title mpbwTitle, mpbw.Type mpbwType,
		mpbw.Square mpbwSquare, mpbw.CountF mpbwCountF, mpbw.CountT
		mpbwCountT,
		mpbw.CountW mpbwCountW, mpbw.Img mpbwImg, mpbw.Price mpbwPrice, mpbw.RegDate
		mpbwRegDate, mpbw.RegName mpbwRegName, mpbw.RegTel mpbwRegTel,
		mpbw.DetailPath mpbwDetailPath, mpbw.FlagDeleted mpbwFlagDeleted,
		mpbw.DeletedTime mpbwDeletedTime, mpbw.Remark mpbwRemark
	</sql>
	<sql id="EmpCustPerson_Column_List">
		ecp.ID ecpID, ecp.EmpId ecpEmpId, ecp.HouseId ecpHouseId,
		ecp.HouseType ecpHouseType, ecp.CreateTime ecpCreateTime
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from MassPersonBuyWant mpbw
		where ID = #{id,jdbcType=CHAR}
	</select>
	<select id="selectAll" parameterType="com.xiaoyi.ssm.dto.MassPersonDto"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="EmpCustPerson_Column_List" />
		<if test="cust == 0">
			from MassPersonBuyWant mpbw LEFT JOIN (SELECT * FROM
			EmpCustPerson WHERE EmpId = '${empId}') ecp ON ecp.`HouseId` =
			mpbw.`ID`
		</if>
		<if test="cust == 1">
			from MassPersonBuyWant mpbw INNER JOIN (SELECT * FROM
			EmpCustPerson WHERE EmpId = '${empId}') ecp ON ecp.`HouseId` =
			mpbw.`ID`
		</if>
		<where>
			<if test="districtNa != null and districtNa != '' and districtNas == ''">
				AND mpbw.District=#{districtNa}
			</if>
			<if test="districtNa == '' and districtNas != null and districtNas != ''">
				AND mpbw.District in
				<foreach collection="districtNasList" index="index" item="item"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="houseType != null and houseType != ''">
				AND mpbw.Type=#{houseType}
			</if>
			<if test="roomType != null">
				AND mpbw.CountF=#{roomType}
			</if>
			<if test="minHouseArea != null">
				AND mpbw.Square &gt;= #{minHouseArea}
			</if>
			<if test="maxHouseArea != null">
				AND mpbw.Square &lt;= #{maxHouseArea}
			</if>
			<if test="startTime != null and startTime != ''">
				AND mpbw.Collectdate &gt;= #{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				AND mpbw.Collectdate &lt;= #{endTime}
			</if>
			<if test="minPrice != null">
				AND mpbw.Price &gt;= #{minPrice}
			</if>
			<if test="maxPrice != null">
				AND mpbw.Price &lt;= #{maxPrice}
			</if>
			<if test="webName != null and webName != '' and webNames == '' ">
				AND mpbw.Site=#{webName}
			</if>
			<if test=" webName == '' and webNames != null and webNames != ''">
				AND mpbw.Site in
				<foreach collection="webNameList" index="index" item="item"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test=" blacklist != null">
				AND mpbw.regtel not in
				<foreach collection="blacklist" index="index" item="item"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		MassPersonBuyWant
		where ID = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.MassPersonBuyWant">
		insert into MassPersonBuyWant
		(ID, CollectDate, Site,
		City, District, Area,
		Estate, Title, Type,
		Square, CountF, CountT,
		CountW, Img, Price,
		RegDate, RegName, RegTel,
		DetailPath, FlagDeleted, DeletedTime,
		Remark)
		values
		(#{id,jdbcType=CHAR}, #{collectdate,jdbcType=TIMESTAMP},
		#{site,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR},
		#{district,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR},
		#{estate,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		#{square,jdbcType=DECIMAL},
		#{countf,jdbcType=INTEGER}, #{countt,jdbcType=INTEGER},
		#{countw,jdbcType=INTEGER}, #{img,jdbcType=INTEGER},
		#{price,jdbcType=INTEGER},
		#{regdate,jdbcType=VARCHAR},
		#{regname,jdbcType=VARCHAR}, #{regtel,jdbcType=VARCHAR},
		#{detailpath,jdbcType=VARCHAR}, #{flagdeleted,jdbcType=TINYINT},
		#{deletedtime,jdbcType=TIMESTAMP},
		#{remark,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.MassPersonBuyWant">
		insert into MassPersonBuyWant
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="collectdate != null">
				CollectDate,
			</if>
			<if test="site != null">
				Site,
			</if>
			<if test="city != null">
				City,
			</if>
			<if test="district != null">
				District,
			</if>
			<if test="area != null">
				Area,
			</if>
			<if test="estate != null">
				Estate,
			</if>
			<if test="title != null">
				Title,
			</if>
			<if test="type != null">
				Type,
			</if>
			<if test="square != null">
				Square,
			</if>
			<if test="countf != null">
				CountF,
			</if>
			<if test="countt != null">
				CountT,
			</if>
			<if test="countw != null">
				CountW,
			</if>
			<if test="img != null">
				Img,
			</if>
			<if test="price != null">
				Price,
			</if>
			<if test="regdate != null">
				RegDate,
			</if>
			<if test="regname != null">
				RegName,
			</if>
			<if test="regtel != null">
				RegTel,
			</if>
			<if test="detailpath != null">
				DetailPath,
			</if>
			<if test="flagdeleted != null">
				FlagDeleted,
			</if>
			<if test="deletedtime != null">
				DeletedTime,
			</if>
			<if test="remark != null">
				Remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="collectdate != null">
				#{collectdate,jdbcType=TIMESTAMP},
			</if>
			<if test="site != null">
				#{site,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				#{district,jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				#{area,jdbcType=VARCHAR},
			</if>
			<if test="estate != null">
				#{estate,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="square != null">
				#{square,jdbcType=DECIMAL},
			</if>
			<if test="countf != null">
				#{countf,jdbcType=INTEGER},
			</if>
			<if test="countt != null">
				#{countt,jdbcType=INTEGER},
			</if>
			<if test="countw != null">
				#{countw,jdbcType=INTEGER},
			</if>
			<if test="img != null">
				#{img,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				#{price,jdbcType=INTEGER},
			</if>
			<if test="regdate != null">
				#{regdate,jdbcType=VARCHAR},
			</if>
			<if test="regname != null">
				#{regname,jdbcType=VARCHAR},
			</if>
			<if test="regtel != null">
				#{regtel,jdbcType=VARCHAR},
			</if>
			<if test="detailpath != null">
				#{detailpath,jdbcType=VARCHAR},
			</if>
			<if test="flagdeleted != null">
				#{flagdeleted,jdbcType=TINYINT},
			</if>
			<if test="deletedtime != null">
				#{deletedtime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.MassPersonBuyWant">
		update MassPersonBuyWant
		<set>
			<if test="collectdate != null">
				CollectDate = #{collectdate,jdbcType=TIMESTAMP},
			</if>
			<if test="site != null">
				Site = #{site,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				City = #{city,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				District = #{district,jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				Area = #{area,jdbcType=VARCHAR},
			</if>
			<if test="estate != null">
				Estate = #{estate,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				Title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				Type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="square != null">
				Square = #{square,jdbcType=DECIMAL},
			</if>
			<if test="countf != null">
				CountF = #{countf,jdbcType=INTEGER},
			</if>
			<if test="countt != null">
				CountT = #{countt,jdbcType=INTEGER},
			</if>
			<if test="countw != null">
				CountW = #{countw,jdbcType=INTEGER},
			</if>
			<if test="img != null">
				Img = #{img,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				Price = #{price,jdbcType=INTEGER},
			</if>
			<if test="regdate != null">
				RegDate = #{regdate,jdbcType=VARCHAR},
			</if>
			<if test="regname != null">
				RegName = #{regname,jdbcType=VARCHAR},
			</if>
			<if test="regtel != null">
				RegTel = #{regtel,jdbcType=VARCHAR},
			</if>
			<if test="detailpath != null">
				DetailPath = #{detailpath,jdbcType=VARCHAR},
			</if>
			<if test="flagdeleted != null">
				FlagDeleted = #{flagdeleted,jdbcType=TINYINT},
			</if>
			<if test="deletedtime != null">
				DeletedTime = #{deletedtime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				Remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.MassPersonBuyWant">
		update
		MassPersonBuyWant
		set CollectDate = #{collectdate,jdbcType=TIMESTAMP},
		Site = #{site,jdbcType=VARCHAR},
		City = #{city,jdbcType=VARCHAR},
		District = #{district,jdbcType=VARCHAR},
		Area =
		#{area,jdbcType=VARCHAR},
		Estate = #{estate,jdbcType=VARCHAR},
		Title =
		#{title,jdbcType=VARCHAR},
		Type = #{type,jdbcType=VARCHAR},
		Square =
		#{square,jdbcType=DECIMAL},
		CountF = #{countf,jdbcType=INTEGER},
		CountT
		= #{countt,jdbcType=INTEGER},
		CountW = #{countw,jdbcType=INTEGER},
		Img =
		#{img,jdbcType=INTEGER},
		Price = #{price,jdbcType=INTEGER},
		RegDate =
		#{regdate,jdbcType=VARCHAR},
		RegName = #{regname,jdbcType=VARCHAR},
		RegTel = #{regtel,jdbcType=VARCHAR},
		DetailPath =
		#{detailpath,jdbcType=VARCHAR},
		FlagDeleted =
		#{flagdeleted,jdbcType=TINYINT},
		DeletedTime =
		#{deletedtime,jdbcType=TIMESTAMP},
		Remark = #{remark,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=CHAR}
	</update>
</mapper>