<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.MassEstateXrayLogMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.MassEstateXrayLog">
		<id column="ID" jdbcType="CHAR" property="id" />
		<result column="EmpID" jdbcType="CHAR" property="empid" />
		<result column="Request" jdbcType="VARCHAR" property="request" />
		<result column="Remark" jdbcType="VARCHAR" property="remark" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, EmpID, Request, Remark
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from MassEstateXrayLog
		where ID = #{id,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from MassEstateXrayLog
		where ID = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.MassEstateXrayLog">
		insert into MassEstateXrayLog (ID, EmpID, Request,
		Remark)
		values (#{id,jdbcType=CHAR}, #{empid,jdbcType=CHAR},
		#{request,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.MassEstateXrayLog">
		insert into MassEstateXrayLog
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="empid != null">
				EmpID,
			</if>
			<if test="request != null">
				Request,
			</if>
			<if test="remark != null">
				Remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="empid != null">
				#{empid,jdbcType=CHAR},
			</if>
			<if test="request != null">
				#{request,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.MassEstateXrayLog">
		update MassEstateXrayLog
		<set>
			<if test="empid != null">
				EmpID = #{empid,jdbcType=CHAR},
			</if>
			<if test="request != null">
				Request = #{request,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				Remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.MassEstateXrayLog">
		update MassEstateXrayLog
		set EmpID = #{empid,jdbcType=CHAR},
		Request = #{request,jdbcType=VARCHAR},
		Remark = #{remark,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=CHAR}
	</update>
</mapper>