<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.MassEstateXrayCategoryMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.MassEstateXrayCategory">
		<id column="ID" jdbcType="CHAR" property="id" />
		<result column="Site" jdbcType="CHAR" property="site" />
		<result column="PropertyNo" jdbcType="VARCHAR" property="propertyno" />
		<result column="Room" jdbcType="VARCHAR" property="room" />
		<result column="Floor" jdbcType="VARCHAR" property="floor" />
		<result column="Square" jdbcType="VARCHAR" property="square" />
		<result column="Register" jdbcType="VARCHAR" property="register" />
		<result column="Remark" jdbcType="VARCHAR" property="remark" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, Site, PropertyNo, Room, Floor, Square, Register, Remark
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from MassEstateXrayCategory
		where ID = #{id,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from MassEstateXrayCategory
		where ID = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.MassEstateXrayCategory">
		insert into MassEstateXrayCategory (ID, Site, PropertyNo,
		Room, Floor, Square,
		Register, Remark)
		values (#{id,jdbcType=CHAR}, #{site,jdbcType=CHAR},
		#{propertyno,jdbcType=VARCHAR},
		#{room,jdbcType=VARCHAR}, #{floor,jdbcType=VARCHAR}, #{square,jdbcType=VARCHAR},
		#{register,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.MassEstateXrayCategory">
		insert into MassEstateXrayCategory
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="site != null">
				Site,
			</if>
			<if test="propertyno != null">
				PropertyNo,
			</if>
			<if test="room != null">
				Room,
			</if>
			<if test="floor != null">
				Floor,
			</if>
			<if test="square != null">
				Square,
			</if>
			<if test="register != null">
				Register,
			</if>
			<if test="remark != null">
				Remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="site != null">
				#{site,jdbcType=CHAR},
			</if>
			<if test="propertyno != null">
				#{propertyno,jdbcType=VARCHAR},
			</if>
			<if test="room != null">
				#{room,jdbcType=VARCHAR},
			</if>
			<if test="floor != null">
				#{floor,jdbcType=VARCHAR},
			</if>
			<if test="square != null">
				#{square,jdbcType=VARCHAR},
			</if>
			<if test="register != null">
				#{register,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.MassEstateXrayCategory">
		update MassEstateXrayCategory
		<set>
			<if test="site != null">
				Site = #{site,jdbcType=CHAR},
			</if>
			<if test="propertyno != null">
				PropertyNo = #{propertyno,jdbcType=VARCHAR},
			</if>
			<if test="room != null">
				Room = #{room,jdbcType=VARCHAR},
			</if>
			<if test="floor != null">
				Floor = #{floor,jdbcType=VARCHAR},
			</if>
			<if test="square != null">
				Square = #{square,jdbcType=VARCHAR},
			</if>
			<if test="register != null">
				Register = #{register,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				Remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.MassEstateXrayCategory">
		update MassEstateXrayCategory
		set Site = #{site,jdbcType=CHAR},
		PropertyNo = #{propertyno,jdbcType=VARCHAR},
		Room = #{room,jdbcType=VARCHAR},
		Floor = #{floor,jdbcType=VARCHAR},
		Square = #{square,jdbcType=VARCHAR},
		Register = #{register,jdbcType=VARCHAR},
		Remark = #{remark,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=CHAR}
	</update>
</mapper>