<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.StaffLogMapper">
  <resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.StaffLog">
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="StaffID" jdbcType="CHAR" property="staffid" />
    <result column="EditStaffID" jdbcType="CHAR" property="editstaffid" />
    <result column="Time" jdbcType="TIMESTAMP" property="time" />
    <result column="Content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, StaffID, EditStaffID, Time, Content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from StaffLog
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from StaffLog
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.xiaoyi.ssm.model.StaffLog">
    insert into StaffLog (ID, StaffID, EditStaffID, 
      Time, Content)
    values (#{id,jdbcType=CHAR}, #{staffid,jdbcType=CHAR}, #{editstaffid,jdbcType=CHAR}, 
      #{time,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.StaffLog">
    insert into StaffLog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="staffid != null">
        StaffID,
      </if>
      <if test="editstaffid != null">
        EditStaffID,
      </if>
      <if test="time != null">
        Time,
      </if>
      <if test="content != null">
        Content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="staffid != null">
        #{staffid,jdbcType=CHAR},
      </if>
      <if test="editstaffid != null">
        #{editstaffid,jdbcType=CHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.StaffLog">
    update StaffLog
    <set>
      <if test="staffid != null">
        StaffID = #{staffid,jdbcType=CHAR},
      </if>
      <if test="editstaffid != null">
        EditStaffID = #{editstaffid,jdbcType=CHAR},
      </if>
      <if test="time != null">
        Time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        Content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.StaffLog">
    update StaffLog
    set StaffID = #{staffid,jdbcType=CHAR},
      EditStaffID = #{editstaffid,jdbcType=CHAR},
      Time = #{time,jdbcType=TIMESTAMP},
      Content = #{content,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>