<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.SysSetMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.SysSet">
		<id column="ParamName" jdbcType="VARCHAR" property="paramname" />
		<result column="ModDate" jdbcType="TIMESTAMP" property="moddate" />
		<result column="Remark" jdbcType="VARCHAR" property="remark" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.xiaoyi.ssm.model.SysSet">
		<result column="ParamData" jdbcType="LONGVARCHAR" property="paramdata" />
	</resultMap>
	<sql id="Base_Column_List">
		ParamName, ModDate, Remark
	</sql>
	<sql id="Blob_Column_List">
		ParamData
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from SysSet
		where ParamName = #{paramname,jdbcType=VARCHAR}
	</select>
	<select id="selectByPay" parameterType="java.lang.String" resultType="java.lang.String">
		select ParamData
		from SysSet
		where ParamName = 'MassPay1'
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from SysSet
		where ParamName = #{paramname,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.SysSet">
		insert into SysSet (ParamName, ModDate, Remark,
		ParamData)
		values (#{paramname,jdbcType=VARCHAR}, #{moddate,jdbcType=TIMESTAMP},
		#{remark,jdbcType=VARCHAR},
		#{paramdata,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.SysSet">
		insert into SysSet
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="paramname != null">
				ParamName,
			</if>
			<if test="moddate != null">
				ModDate,
			</if>
			<if test="remark != null">
				Remark,
			</if>
			<if test="paramdata != null">
				ParamData,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="paramname != null">
				#{paramname,jdbcType=VARCHAR},
			</if>
			<if test="moddate != null">
				#{moddate,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="paramdata != null">
				#{paramdata,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.SysSet">
		update SysSet
		<set>
			<if test="moddate != null">
				ModDate = #{moddate,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				Remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="paramdata != null">
				ParamData = #{paramdata,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where ParamName = #{paramname,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xiaoyi.ssm.model.SysSet">
		update SysSet
		set ModDate = #{moddate,jdbcType=TIMESTAMP},
		Remark = #{remark,jdbcType=VARCHAR},
		ParamData = #{paramdata,jdbcType=LONGVARCHAR}
		where ParamName = #{paramname,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.SysSet">
		update SysSet
		set ModDate = #{moddate,jdbcType=TIMESTAMP},
		Remark = #{remark,jdbcType=VARCHAR}
		where ParamName = #{paramname,jdbcType=VARCHAR}
	</update>
</mapper>