<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.TownCommissionPlanMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.TownCommissionPlan">
		<id column="ID" jdbcType="CHAR" property="id" />
		<result column="TownID" jdbcType="CHAR" property="townid" />
		<result column="Town" jdbcType="VARCHAR" property="town" />
		<result column="Title" jdbcType="VARCHAR" property="title" />
		<result column="Detail" jdbcType="VARCHAR" property="detail" />
		<result column="Remark" jdbcType="VARCHAR" property="remark" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, TownID, Town, Title, Detail, Remark
	</sql>
	
	<select id="countByTown" parameterType="java.lang.String" resultType="Integer">
		select COUNT(0) from TownCommissionPlan where TownID = #{id,jdbcType=CHAR}
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from TownCommissionPlan
		where ID = #{id,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from TownCommissionPlan
		where ID = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.TownCommissionPlan">
		insert into TownCommissionPlan (ID, TownID, Town, Title,
		Detail, Remark)
		values (#{id,jdbcType=CHAR}, #{townid,jdbcType=CHAR}, #{town,jdbcType=VARCHAR},
		#{title,jdbcType=VARCHAR},
		#{detail,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.TownCommissionPlan">
		insert into TownCommissionPlan
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="townid != null">
				TownID,
			</if>
			<if test="town != null">
				Town,
			</if>
			<if test="title != null">
				Title,
			</if>
			<if test="detail != null">
				Detail,
			</if>
			<if test="remark != null">
				Remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="townid != null">
				#{townid,jdbcType=CHAR},
			</if>
			<if test="town != null">
				#{town,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="detail != null">
				#{detail,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.xiaoyi.ssm.model.TownCommissionPlan">
		update TownCommissionPlan
		<set>
			<if test="townid != null">
				TownID = #{townid,jdbcType=CHAR},
			</if>
			<if test="town != null">
				Town = #{town,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				Title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="detail != null">
				Detail = #{detail,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				Remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.TownCommissionPlan">
		update TownCommissionPlan
		set TownID = #{townid,jdbcType=CHAR},
		Town = #{town,jdbcType=VARCHAR},
		Title = #{title,jdbcType=VARCHAR},
		Detail = #{detail,jdbcType=VARCHAR},
		Remark = #{remark,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=CHAR}
	</update>
</mapper>