<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.CombineMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.Combine">
		<id column="ID" jdbcType="CHAR" property="id" />
		<result column="CombineNO" jdbcType="INTEGER" property="combineno" />
		<result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="ModifyTime" jdbcType="TIMESTAMP" property="modifytime" />
		<result column="VenueID" jdbcType="VARCHAR" property="venueid" />
		<result column="FieldID" jdbcType="VARCHAR" property="fieldid" />
		<result column="Title" jdbcType="VARCHAR" property="title" />
		<result column="ManagerID" jdbcType="VARCHAR" property="managerid" />
		<result column="Require" jdbcType="VARCHAR" property="require" />
		<result column="CombineDate" jdbcType="DATE" property="combinedate" />
		<result column="CombineTimeFrame" jdbcType="VARCHAR" property="combinetimeframe" />
		<result column="Boy" jdbcType="INTEGER" property="boy" />
		<result column="Describe" jdbcType="VARCHAR" property="describe" />
		<result column="AmountSum" jdbcType="DOUBLE" property="amountsum" />
		<result column="AmountId" jdbcType="VARCHAR" property="amountid" />
		<result column="AmountType" jdbcType="INTEGER" property="amounttype" />
		<association property="venue" javaType="com.xiaoyi.ssm.model.Venue">
			<id column="ID" jdbcType="VARCHAR" property="id" />
			<result column="vName" jdbcType="VARCHAR" property="name" />
		</association>
		<association property="manager" javaType="com.xiaoyi.ssm.model.Manager">
			<id column="ID" jdbcType="VARCHAR" property="id" />
			<result column="mName" jdbcType="VARCHAR" property="name" />
		</association>
		<association property="field" javaType="com.xiaoyi.ssm.model.Field">
			<id column="ID" jdbcType="VARCHAR" property="id" />
			<result column="fName" jdbcType="VARCHAR" property="name" />
		</association>
		<association property="city" javaType="com.xiaoyi.ssm.model.City">
			<id column="ID" jdbcType="VARCHAR" property="id" />
			<result column="cCity" jdbcType="VARCHAR" property="city" />
		</association>
	</resultMap>
	<resultMap id="AmountResultMap" type="com.xiaoyi.ssm.model.Combine" extends="BaseResultMap">
		<collection property="combineJoins" ofType="CombineJoin" column="ID">
			<id column="cjID" jdbcType="CHAR" property="id" />
			<result column="cjCreateTimeTime" jdbcType="TIMESTAMP" property="createtimetime" />
			<result column="cjCombineID" jdbcType="VARCHAR" property="combineid" />
			<result column="cjMemberID" jdbcType="VARCHAR" property="memberid" />
			<result column="cjPrice" jdbcType="DOUBLE" property="price" />
			<result column="cjType" jdbcType="INTEGER" property="type" />
			<result column="cjPayType" jdbcType="INTEGER" property="paytype" />
			<result column="cjPayRemark" jdbcType="VARCHAR" property="payremark" />
			<association property="member" javaType="com.xiaoyi.ssm.model.Member">
				<id column="ID" jdbcType="VARCHAR" property="id" />
				<result column="meName" jdbcType="VARCHAR" property="name" />
			</association>
		</collection>
	</resultMap>
	<sql id="Base_Column_List">
		ID, CombineNO, CreateTime, ModifyTime, VenueID, FieldID, Title, ManagerID, Require,
		CombineDate, CombineTimeFrame,
		Boy,
		Describe, AmountId, AmountType
	</sql>
	<sql id="Combine_Column_List">
		cj.ID cjID, cj.CreateTimeTime cjCreateTimeTime, cj.CombineID cjCombineID, 
		cj.MemberID cjMemberID, cj.Price cjPrice, cj.Type cjType, cj.PayType cjPayType, cj.PayRemark cjPayRemark
	</sql>
	
	<select id="selectByVenue" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT ce.*, v.`Name` vName, m.`Name` mName,
		c.`City`
		cCity FROM Combine ce LEFT JOIN Venue v ON ce.`VenueID` = v.`ID`
		LEFT JOIN Manager m ON ce.`ManagerID` = m.`ID`
		LEFT JOIN
		City c ON v.`CityID` = c.`ID` WHERE ce.`VenueID` = #{venueid}
	</select>

	<select id="countAmountByVenue" parameterType="java.lang.String" resultType="Double">
		SELECT SUM(c.`AmountSum`) FROM Combine c INNER
		JOIN CombineJoin cj ON c.`ID` = cj.`CombineID` WHERE c.`VenueID` = #{venueid} AND cj.`Type` IN (0,2)
	</select>

	<select id="selectByAll" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT ce.*, v.`Name` vName, m.`Name` mName, c.`City`
		cCity FROM Combine ce LEFT JOIN Venue v ON ce.`VenueID` = v.`ID`
		LEFT JOIN Manager m ON ce.`ManagerID` = m.`ID`
		LEFT JOIN City c
		ON v.`CityID` = c.`ID`
	</select>
	
	<select id="selectByAmount" parameterType="java.lang.String" resultMap="AmountResultMap">
		SELECT ce.*, v.`Name` vName, m.`Name` mName, me.`Name` meName, f.`Name` fName,   
		<include refid="Combine_Column_List" />
		FROM Combine ce LEFT JOIN Venue v ON ce.`VenueID` = v.`ID`
		LEFT JOIN Manager m ON ce.`ManagerID` = m.`ID`
    	LEFT JOIN `Field` f ON ce.`FieldID` = f.`ID`   
		INNER JOIN CombineJoin cj ON ce.`ID` = cj.`CombineID`
		LEFT JOIN Member me ON cj.`MemberID` = me.`ID`
		WHERE ce.`AmountId` = #{amountid} AND cj.`Type` = 1
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Combine
		where ID = #{id,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from Combine
		where ID = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.Combine">
		insert into Combine (ID, CombineNO, CreateTime,
		ModifyTime, VenueID, FieldID,
		Title, ManagerID, Require,
		CombineDate, CombineTimeFrame, Boy,
		Describe, AmountSum, AmountId,
		AmountType)
		values (#{id,jdbcType=CHAR}, #{combineno,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP},
		#{modifytime,jdbcType=TIMESTAMP}, #{venueid,jdbcType=VARCHAR}, #{fieldid,jdbcType=VARCHAR},
		#{title,jdbcType=VARCHAR}, #{managerid,jdbcType=VARCHAR}, #{require,jdbcType=VARCHAR},
		#{combinedate,jdbcType=DATE}, #{combinetimeframe,jdbcType=VARCHAR}, #{boy,jdbcType=INTEGER},
		#{describe,jdbcType=VARCHAR}, #{amountsum,jdbcType=DOUBLE}, #{amountid,jdbcType=VARCHAR},
		#{amounttype,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.Combine">
		insert into Combine
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="combineno != null">
				CombineNO,
			</if>
			<if test="createtime != null">
				CreateTime,
			</if>
			<if test="modifytime != null">
				ModifyTime,
			</if>
			<if test="venueid != null">
				VenueID,
			</if>
			<if test="fieldid != null">
				FieldID,
			</if>
			<if test="title != null">
				Title,
			</if>
			<if test="managerid != null">
				ManagerID,
			</if>
			<if test="require != null">
				Require,
			</if>
			<if test="combinedate != null">
				CombineDate,
			</if>
			<if test="combinetimeframe != null">
				CombineTimeFrame,
			</if>
			<if test="boy != null">
				Boy,
			</if>
			<if test="describe != null">
				Describe,
			</if>
			<if test="amountsum != null">
				AmountSum,
			</if>
			<if test="amountid != null">
				AmountId,
			</if>
			<if test="amounttype != null">
				AmountType,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="combineno != null">
				#{combineno,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifytime != null">
				#{modifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="venueid != null">
				#{venueid,jdbcType=VARCHAR},
			</if>
			<if test="fieldid != null">
				#{fieldid,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="managerid != null">
				#{managerid,jdbcType=VARCHAR},
			</if>
			<if test="require != null">
				#{require,jdbcType=VARCHAR},
			</if>
			<if test="combinedate != null">
				#{combinedate,jdbcType=DATE},
			</if>
			<if test="combinetimeframe != null">
				#{combinetimeframe,jdbcType=VARCHAR},
			</if>
			<if test="boy != null">
				#{boy,jdbcType=INTEGER},
			</if>
			<if test="describe != null">
				#{describe,jdbcType=VARCHAR},
			</if>
			<if test="amountsum != null">
				#{amountsum,jdbcType=DOUBLE},
			</if>
			<if test="amountid != null">
				#{amountid,jdbcType=VARCHAR},
			</if>
			<if test="amounttype != null">
				#{amounttype,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.Combine">
		update Combine
		<set>
			<if test="combineno != null">
				CombineNO = #{combineno,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				CreateTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifytime != null">
				ModifyTime = #{modifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="venueid != null">
				VenueID = #{venueid,jdbcType=VARCHAR},
			</if>
			<if test="fieldid != null">
				FieldID = #{fieldid,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				Title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="managerid != null">
				ManagerID = #{managerid,jdbcType=VARCHAR},
			</if>
			<if test="require != null">
				Require = #{require,jdbcType=VARCHAR},
			</if>
			<if test="combinedate != null">
				CombineDate = #{combinedate,jdbcType=DATE},
			</if>
			<if test="combinetimeframe != null">
				CombineTimeFrame = #{combinetimeframe,jdbcType=VARCHAR},
			</if>
			<if test="boy != null">
				Boy = #{boy,jdbcType=INTEGER},
			</if>
			<if test="describe != null">
				Describe = #{describe,jdbcType=VARCHAR},
			</if>
			<if test="amountsum != null">
				AmountSum = #{amountsum,jdbcType=DOUBLE},
			</if>
			<if test="amountid != null">
				AmountId = #{amountid,jdbcType=VARCHAR},
			</if>
			<if test="amounttype != null">
				AmountType = #{amounttype,jdbcType=INTEGER},
			</if>
		</set>
		where ID = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.Combine">
		update Combine
		set CombineNO = #{combineno,jdbcType=INTEGER},
		CreateTime = #{createtime,jdbcType=TIMESTAMP},
		ModifyTime = #{modifytime,jdbcType=TIMESTAMP},
		VenueID = #{venueid,jdbcType=VARCHAR},
		FieldID = #{fieldid,jdbcType=VARCHAR},
		Title = #{title,jdbcType=VARCHAR},
		ManagerID = #{managerid,jdbcType=VARCHAR},
		Require = #{require,jdbcType=VARCHAR},
		CombineDate = #{combinedate,jdbcType=DATE},
		CombineTimeFrame = #{combinetimeframe,jdbcType=VARCHAR},
		Boy = #{boy,jdbcType=INTEGER},
		Describe = #{describe,jdbcType=VARCHAR},
		AmountSum = #{amountsum,jdbcType=DOUBLE},
		AmountId = #{amountid,jdbcType=VARCHAR},
		AmountType = #{amounttype,jdbcType=INTEGER}
		where ID = #{id,jdbcType=CHAR}
	</update>
</mapper>