<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.CombineJoinMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.CombineJoin">
		<id column="ID" jdbcType="CHAR" property="id" />
		<result column="CreateTimeTime" jdbcType="TIMESTAMP" property="createtimetime" />
		<result column="CombineID" jdbcType="VARCHAR" property="combineid" />
		<result column="MemberID" jdbcType="VARCHAR" property="memberid" />
		<result column="Price" jdbcType="DOUBLE" property="price" />
		<result column="Type" jdbcType="INTEGER" property="type" />
		<result column="PayType" jdbcType="INTEGER" property="paytype" />
		<result column="PayRemark" jdbcType="VARCHAR" property="payremark" />
		<association property="member" javaType="com.xiaoyi.ssm.model.Member">
			<id column="ID" jdbcType="VARCHAR" property="id" />
			<result column="mName" jdbcType="VARCHAR" property="name" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		ID, CreateTimeTime, CombineID, MemberID, Price, Type, PayType, PayRemark
	</sql>

	<select id="countByCombine" parameterType="java.lang.String" resultType="Integer">
		select COUNT(0) from CombineJoin where CombineID =
		#{id,jdbcType=CHAR}
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from CombineJoin
		where ID = #{id,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from CombineJoin
		where ID = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.CombineJoin">
		insert into CombineJoin (ID, CreateTimeTime, CombineID,
		MemberID, Price, Type,
		PayType, PayRemark)
		values (#{id,jdbcType=CHAR}, #{createtimetime,jdbcType=TIMESTAMP}, #{combineid,jdbcType=VARCHAR},
		#{memberid,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{type,jdbcType=INTEGER},
		#{paytype,jdbcType=INTEGER}, #{payremark,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.CombineJoin">
		insert into CombineJoin
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="createtimetime != null">
				CreateTimeTime,
			</if>
			<if test="combineid != null">
				CombineID,
			</if>
			<if test="memberid != null">
				MemberID,
			</if>
			<if test="price != null">
				Price,
			</if>
			<if test="type != null">
				Type,
			</if>
			<if test="paytype != null">
				PayType,
			</if>
			<if test="payremark != null">
				PayRemark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="createtimetime != null">
				#{createtimetime,jdbcType=TIMESTAMP},
			</if>
			<if test="combineid != null">
				#{combineid,jdbcType=VARCHAR},
			</if>
			<if test="memberid != null">
				#{memberid,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=DOUBLE},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="paytype != null">
				#{paytype,jdbcType=INTEGER},
			</if>
			<if test="payremark != null">
				#{payremark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.CombineJoin">
		update CombineJoin
		<set>
			<if test="createtimetime != null">
				CreateTimeTime = #{createtimetime,jdbcType=TIMESTAMP},
			</if>
			<if test="combineid != null">
				CombineID = #{combineid,jdbcType=VARCHAR},
			</if>
			<if test="memberid != null">
				MemberID = #{memberid,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				Price = #{price,jdbcType=DOUBLE},
			</if>
			<if test="type != null">
				Type = #{type,jdbcType=INTEGER},
			</if>
			<if test="paytype != null">
				PayType = #{paytype,jdbcType=INTEGER},
			</if>
			<if test="payremark != null">
				PayRemark = #{payremark,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.CombineJoin">
		update CombineJoin
		set CreateTimeTime = #{createtimetime,jdbcType=TIMESTAMP},
		CombineID = #{combineid,jdbcType=VARCHAR},
		MemberID = #{memberid,jdbcType=VARCHAR},
		Price = #{price,jdbcType=DOUBLE},
		Type = #{type,jdbcType=INTEGER},
		PayType = #{paytype,jdbcType=INTEGER},
		PayRemark = #{payremark,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=CHAR}
	</update>
</mapper>