<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.CombineLogMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.CombineLog">
		<id column="ID" jdbcType="CHAR" property="id" />
		<result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="CombineID" jdbcType="VARCHAR" property="combineid" />
		<result column="Type" jdbcType="INTEGER" property="type" />
		<result column="Content" jdbcType="VARCHAR" property="content" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, CreateTime, CombineID, Type, Content
	</sql>
	
	<select id="selectByCombine" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from CombineLog where CombineID = #{id,jdbcType=CHAR}
	</select>
	
	<select id="countByCombine" parameterType="java.lang.String" resultType="Integer">
		select COUNT(0) from CombineLog where CombineID =
		#{id,jdbcType=CHAR}
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from CombineLog
		where ID = #{id,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from CombineLog
		where ID = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.CombineLog">
		insert into CombineLog (ID, CreateTime, CombineID,
		Type, Content)
		values (#{id,jdbcType=CHAR}, #{createtime,jdbcType=TIMESTAMP}, #{combineid,jdbcType=VARCHAR},
		#{type,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.CombineLog">
		insert into CombineLog
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="createtime != null">
				CreateTime,
			</if>
			<if test="combineid != null">
				CombineID,
			</if>
			<if test="type != null">
				Type,
			</if>
			<if test="content != null">
				Content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="combineid != null">
				#{combineid,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.CombineLog">
		update CombineLog
		<set>
			<if test="createtime != null">
				CreateTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="combineid != null">
				CombineID = #{combineid,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				Type = #{type,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				Content = #{content,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.CombineLog">
		update CombineLog
		set CreateTime = #{createtime,jdbcType=TIMESTAMP},
		CombineID = #{combineid,jdbcType=VARCHAR},
		Type = #{type,jdbcType=INTEGER},
		Content = #{content,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=CHAR}
	</update>
</mapper>