<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.InviteBallMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.InviteBall">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="Create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="Modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
		<result column="End_time" jdbcType="TIMESTAMP" property="endTime" />
		<result column="Active_time" jdbcType="TIMESTAMP" property="activeTime" />
		<result column="Title" jdbcType="VARCHAR" property="title" />
		<result column="Venue_name" jdbcType="VARCHAR" property="venueName" />
		<result column="Venue_address" jdbcType="VARCHAR" property="venueAddress" />
		<result column="Longitude" jdbcType="DOUBLE" property="longitude" />
		<result column="Latitude" jdbcType="DOUBLE" property="latitude" />
		<result column="Max_boy" jdbcType="INTEGER" property="maxBoy" />
		<result column="Min_boy" jdbcType="INTEGER" property="minBoy" />
		<result column="To_require" jdbcType="INTEGER" property="toRequire" />
		<result column="Receive_flag" jdbcType="INTEGER" property="receiveFlag" />
		<result column="Receive_amount" jdbcType="DECIMAL" property="receiveAmount" />
		<result column="Receive_type" jdbcType="INTEGER" property="receiveType" />
		<result column="Exit_flag" jdbcType="INTEGER" property="exitFlag" />
		<result column="Exit_type" jdbcType="INTEGER" property="exitType" />
		<result column="Exit_fee" jdbcType="INTEGER" property="exitFee" />
		<result column="Nearby_flag" jdbcType="INTEGER" property="nearbyFlag" />
		<result column="Name_flag" jdbcType="INTEGER" property="nameFlag" />
		<result column="Phone_flag" jdbcType="INTEGER" property="phoneFlag" />
		<result column="WeChat_flag" jdbcType="INTEGER" property="wechatFlag" />
		<result column="Content" jdbcType="VARCHAR" property="content" />
		<result column="Member_id" jdbcType="VARCHAR" property="memberId" />
		<result column="Ball_type" jdbcType="INTEGER" property="ballType" />
		<result column="Arrive_time" jdbcType="TIMESTAMP" property="arriveTime" />
		<result column="Arrive_amount" jdbcType="DOUBLE" property="arriveAmount" />
		<association property="member" javaType="com.xiaoyi.ssm.model.Member">
			<id column="ID" jdbcType="CHAR" property="id" />
			<result column="mAppNickName" jdbcType="VARCHAR" property="appnickname" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		ID, Create_time, Modify_time, End_time, Active_time, Title, Venue_name, Venue_address,
		Longitude, Latitude, Max_boy, Min_boy, To_require, Receive_flag, Receive_amount,
		Receive_type, Exit_flag, Exit_type, Exit_fee, Nearby_flag, Name_flag, Phone_flag,
		WeChat_flag, Content, Member_id, Ball_type, Arrive_time, Arrive_amount
	</sql>
	
	<select id="countByMyApplyBall" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(0) FROM InviteBall WHERE Member_id = #{id} 
	</select>
	
	<select id="selectByMyInviteBall" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT ib.*
		FROM InviteBall ib INNER JOIN InviteJoin ij ON ib.`ID` = ij.`Invite_id` WHERE ij.`Member_id` =
		#{id} and ij.Pay_type in (1,4)
		ORDER BY ij.Create_time DESC
	</select>

	<select id="selectByJoinKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT ib.* FROM
		InviteBall ib INNER JOIN InviteJoin ij ON ib.`ID` = ij.`Invite_id` WHERE ij.`ID` = #{joinId} and
		ij.Pay_type in (1,4)
	</select>
	
	<select id="selectDealInvite" resultMap="BaseResultMap">
		SELECT ib.*,m.`AppNickName` mAppNickName FROM InviteBall ib INNER JOIN Member m ON ib.`Member_id` = m.`ID` WHERE Receive_flag = 1 ORDER BY Create_time DESC
	</select>
	
	<select id="selectByMyApplyInviteBall" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT * FROM InviteBall WHERE Member_id = #{id} ORDER BY Create_time DESC
	</select>

	<select id="selectByNearby" parameterType="com.xiaoyi.ssm.dto.InviteDto" resultMap="BaseResultMap">
		SELECT *,ABS(ib.`Longitude` - #{lng}) + ABS(ib.`Latitude` - #{lat}) lnglat
 		FROM InviteBall ib WHERE Nearby_flag = 1 AND Ball_type = 0 ORDER BY lnglat ASC
	</select>

	<select id="selectByTimeOut" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from InviteBall where End_time &lt;= #{endDate,jdbcType=TIMESTAMP} AND Ball_type = 0
	</select>

	<select id="selectByAll" parameterType="com.xiaoyi.ssm.model.InviteBall" resultMap="BaseResultMap">
		SELECT ib.*,m.`AppNickName` mAppNickName FROM InviteBall ib INNER JOIN Member m ON ib.`Member_id` = m.`ID`
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from InviteBall
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from InviteBall
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.InviteBall">
		insert into InviteBall (ID, Create_time, Modify_time,
		End_time, Active_time, Title,
		Venue_name, Venue_address, Longitude,
		Latitude, Max_boy, Min_boy,
		To_require, Receive_flag, Receive_amount,
		Receive_type, Exit_flag, Exit_type,
		Exit_fee, Nearby_flag, Name_flag,
		Phone_flag, WeChat_flag, Content,
		Member_id, Ball_type, Arrive_time,
		Arrive_amount)
		values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP},
		#{endTime,jdbcType=TIMESTAMP}, #{activeTime,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR},
		#{venueName,jdbcType=VARCHAR}, #{venueAddress,jdbcType=VARCHAR}, #{longitude,jdbcType=DOUBLE},
		#{latitude,jdbcType=DOUBLE}, #{maxBoy,jdbcType=INTEGER}, #{minBoy,jdbcType=INTEGER},
		#{toRequire,jdbcType=INTEGER}, #{receiveFlag,jdbcType=INTEGER}, #{receiveAmount,jdbcType=DECIMAL},
		#{receiveType,jdbcType=INTEGER}, #{exitFlag,jdbcType=INTEGER}, #{exitType,jdbcType=INTEGER},
		#{exitFee,jdbcType=INTEGER}, #{nearbyFlag,jdbcType=INTEGER}, #{nameFlag,jdbcType=INTEGER},
		#{phoneFlag,jdbcType=INTEGER}, #{wechatFlag,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR},
		#{memberId,jdbcType=VARCHAR}, #{ballType,jdbcType=INTEGER}, #{arriveTime,jdbcType=TIMESTAMP},
		#{arriveAmount,jdbcType=DOUBLE})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.InviteBall">
		insert into InviteBall
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="createTime != null">
				Create_time,
			</if>
			<if test="modifyTime != null">
				Modify_time,
			</if>
			<if test="endTime != null">
				End_time,
			</if>
			<if test="activeTime != null">
				Active_time,
			</if>
			<if test="title != null">
				Title,
			</if>
			<if test="venueName != null">
				Venue_name,
			</if>
			<if test="venueAddress != null">
				Venue_address,
			</if>
			<if test="longitude != null">
				Longitude,
			</if>
			<if test="latitude != null">
				Latitude,
			</if>
			<if test="maxBoy != null">
				Max_boy,
			</if>
			<if test="minBoy != null">
				Min_boy,
			</if>
			<if test="toRequire != null">
				To_require,
			</if>
			<if test="receiveFlag != null">
				Receive_flag,
			</if>
			<if test="receiveAmount != null">
				Receive_amount,
			</if>
			<if test="receiveType != null">
				Receive_type,
			</if>
			<if test="exitFlag != null">
				Exit_flag,
			</if>
			<if test="exitType != null">
				Exit_type,
			</if>
			<if test="exitFee != null">
				Exit_fee,
			</if>
			<if test="nearbyFlag != null">
				Nearby_flag,
			</if>
			<if test="nameFlag != null">
				Name_flag,
			</if>
			<if test="phoneFlag != null">
				Phone_flag,
			</if>
			<if test="wechatFlag != null">
				WeChat_flag,
			</if>
			<if test="content != null">
				Content,
			</if>
			<if test="memberId != null">
				Member_id,
			</if>
			<if test="ballType != null">
				Ball_type,
			</if>
			<if test="arriveTime != null">
				Arrive_time,
			</if>
			<if test="arriveAmount != null">
				Arrive_amount,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="activeTime != null">
				#{activeTime,jdbcType=TIMESTAMP},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="venueName != null">
				#{venueName,jdbcType=VARCHAR},
			</if>
			<if test="venueAddress != null">
				#{venueAddress,jdbcType=VARCHAR},
			</if>
			<if test="longitude != null">
				#{longitude,jdbcType=DOUBLE},
			</if>
			<if test="latitude != null">
				#{latitude,jdbcType=DOUBLE},
			</if>
			<if test="maxBoy != null">
				#{maxBoy,jdbcType=INTEGER},
			</if>
			<if test="minBoy != null">
				#{minBoy,jdbcType=INTEGER},
			</if>
			<if test="toRequire != null">
				#{toRequire,jdbcType=INTEGER},
			</if>
			<if test="receiveFlag != null">
				#{receiveFlag,jdbcType=INTEGER},
			</if>
			<if test="receiveAmount != null">
				#{receiveAmount,jdbcType=DECIMAL},
			</if>
			<if test="receiveType != null">
				#{receiveType,jdbcType=INTEGER},
			</if>
			<if test="exitFlag != null">
				#{exitFlag,jdbcType=INTEGER},
			</if>
			<if test="exitType != null">
				#{exitType,jdbcType=INTEGER},
			</if>
			<if test="exitFee != null">
				#{exitFee,jdbcType=INTEGER},
			</if>
			<if test="nearbyFlag != null">
				#{nearbyFlag,jdbcType=INTEGER},
			</if>
			<if test="nameFlag != null">
				#{nameFlag,jdbcType=INTEGER},
			</if>
			<if test="phoneFlag != null">
				#{phoneFlag,jdbcType=INTEGER},
			</if>
			<if test="wechatFlag != null">
				#{wechatFlag,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="memberId != null">
				#{memberId,jdbcType=VARCHAR},
			</if>
			<if test="ballType != null">
				#{ballType,jdbcType=INTEGER},
			</if>
			<if test="arriveTime != null">
				#{arriveTime,jdbcType=TIMESTAMP},
			</if>
			<if test="arriveAmount != null">
				#{arriveAmount,jdbcType=DOUBLE},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.InviteBall">
		update InviteBall
		<set>
			<if test="createTime != null">
				Create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				Modify_time = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				End_time = #{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="activeTime != null">
				Active_time = #{activeTime,jdbcType=TIMESTAMP},
			</if>
			<if test="title != null">
				Title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="venueName != null">
				Venue_name = #{venueName,jdbcType=VARCHAR},
			</if>
			<if test="venueAddress != null">
				Venue_address = #{venueAddress,jdbcType=VARCHAR},
			</if>
			<if test="longitude != null">
				Longitude = #{longitude,jdbcType=DOUBLE},
			</if>
			<if test="latitude != null">
				Latitude = #{latitude,jdbcType=DOUBLE},
			</if>
			<if test="maxBoy != null">
				Max_boy = #{maxBoy,jdbcType=INTEGER},
			</if>
			<if test="minBoy != null">
				Min_boy = #{minBoy,jdbcType=INTEGER},
			</if>
			<if test="toRequire != null">
				To_require = #{toRequire,jdbcType=INTEGER},
			</if>
			<if test="receiveFlag != null">
				Receive_flag = #{receiveFlag,jdbcType=INTEGER},
			</if>
			<if test="receiveAmount != null">
				Receive_amount = #{receiveAmount,jdbcType=DECIMAL},
			</if>
			<if test="receiveType != null">
				Receive_type = #{receiveType,jdbcType=INTEGER},
			</if>
			<if test="exitFlag != null">
				Exit_flag = #{exitFlag,jdbcType=INTEGER},
			</if>
			<if test="exitType != null">
				Exit_type = #{exitType,jdbcType=INTEGER},
			</if>
			<if test="exitFee != null">
				Exit_fee = #{exitFee,jdbcType=INTEGER},
			</if>
			<if test="nearbyFlag != null">
				Nearby_flag = #{nearbyFlag,jdbcType=INTEGER},
			</if>
			<if test="nameFlag != null">
				Name_flag = #{nameFlag,jdbcType=INTEGER},
			</if>
			<if test="phoneFlag != null">
				Phone_flag = #{phoneFlag,jdbcType=INTEGER},
			</if>
			<if test="wechatFlag != null">
				WeChat_flag = #{wechatFlag,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				Content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="memberId != null">
				Member_id = #{memberId,jdbcType=VARCHAR},
			</if>
			<if test="ballType != null">
				Ball_type = #{ballType,jdbcType=INTEGER},
			</if>
			<if test="arriveTime != null">
				Arrive_time = #{arriveTime,jdbcType=TIMESTAMP},
			</if>
			<if test="arriveAmount != null">
				Arrive_amount = #{arriveAmount,jdbcType=DOUBLE},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.InviteBall">
		update InviteBall
		set Create_time = #{createTime,jdbcType=TIMESTAMP},
		Modify_time = #{modifyTime,jdbcType=TIMESTAMP},
		End_time = #{endTime,jdbcType=TIMESTAMP},
		Active_time = #{activeTime,jdbcType=TIMESTAMP},
		Title = #{title,jdbcType=VARCHAR},
		Venue_name = #{venueName,jdbcType=VARCHAR},
		Venue_address = #{venueAddress,jdbcType=VARCHAR},
		Longitude = #{longitude,jdbcType=DOUBLE},
		Latitude = #{latitude,jdbcType=DOUBLE},
		Max_boy = #{maxBoy,jdbcType=INTEGER},
		Min_boy = #{minBoy,jdbcType=INTEGER},
		To_require = #{toRequire,jdbcType=INTEGER},
		Receive_flag = #{receiveFlag,jdbcType=INTEGER},
		Receive_amount = #{receiveAmount,jdbcType=DECIMAL},
		Receive_type = #{receiveType,jdbcType=INTEGER},
		Exit_flag = #{exitFlag,jdbcType=INTEGER},
		Exit_type = #{exitType,jdbcType=INTEGER},
		Exit_fee = #{exitFee,jdbcType=INTEGER},
		Nearby_flag = #{nearbyFlag,jdbcType=INTEGER},
		Name_flag = #{nameFlag,jdbcType=INTEGER},
		Phone_flag = #{phoneFlag,jdbcType=INTEGER},
		WeChat_flag = #{wechatFlag,jdbcType=INTEGER},
		Content = #{content,jdbcType=VARCHAR},
		Member_id = #{memberId,jdbcType=VARCHAR},
		Ball_type = #{ballType,jdbcType=INTEGER},
		Arrive_time = #{arriveTime,jdbcType=TIMESTAMP},
		Arrive_amount = #{arriveAmount,jdbcType=DOUBLE}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>