<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.InviteJoinMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.InviteJoin">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="Create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="Invite_id" jdbcType="VARCHAR" property="inviteId" />
		<result column="Member_id" jdbcType="VARCHAR" property="memberId" />
		<result column="Amount" jdbcType="DOUBLE" property="amount" />
		<result column="Name" jdbcType="VARCHAR" property="name" />
		<result column="WeChat_id" jdbcType="VARCHAR" property="wechatId" />
		<result column="Phone" jdbcType="VARCHAR" property="phone" />
		<result column="Content" jdbcType="VARCHAR" property="content" />
		<result column="Pay_time" jdbcType="TIMESTAMP" property="payTime" />
		<result column="Pay_type" jdbcType="INTEGER" property="payType" />
		<result column="Refund_content" jdbcType="VARCHAR" property="refundContent" />
		<result column="Refund_amount" jdbcType="DOUBLE" property="refundAmount" />
		<result column="Refund_fee" jdbcType="INTEGER" property="refundFee" />
		<association property="member" javaType="com.xiaoyi.ssm.model.Member">
			<id column="mID" jdbcType="CHAR" property="id" />
			<result column="mAppNickName" jdbcType="VARCHAR" property="appnickname" />
			<result column="mAppAvatarUrl" jdbcType="VARCHAR" property="appavatarurl" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		ID, Create_time, Invite_id, Member_id, Amount, Name, WeChat_id, Phone, Content, Pay_time,
		Pay_type, Refund_content, Refund_amount, Refund_fee
	</sql>

	<select id="selectByJoinMember" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT
		ij.*,m.`AppAvatarUrl` mAppAvatarUrl,m.`AppNickName` mAppNickName,m.`ID` mID FROM InviteJoin ij
		LEFT JOIN `Member` m ON ij.`Member_id` = m.`ID`
		where Invite_id = #{id,jdbcType=VARCHAR} AND
		Pay_type in (1,4)
	</select>

	<select id="selectByJoinMemberKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT
		ij.*,m.`AppAvatarUrl` mAppAvatarUrl,m.`AppNickName` mAppNickName,m.`ID` mID FROM InviteJoin ij
		LEFT JOIN `Member` m ON ij.`Member_id` = m.`ID`
		where Invite_id = #{inviteId,jdbcType=VARCHAR} AND
		Member_id = #{memberId,jdbcType=VARCHAR} AND Pay_type in (1,4)
	</select>


	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from InviteJoin
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from InviteJoin
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.InviteJoin">
		insert into InviteJoin (ID, Create_time, Invite_id,
		Member_id, Amount, Name,
		WeChat_id, Phone, Content,
		Pay_time, Pay_type, Refund_content,
		Refund_amount, Refund_fee)
		values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{inviteId,jdbcType=VARCHAR},
		#{memberId,jdbcType=VARCHAR}, #{amount,jdbcType=DOUBLE}, #{name,jdbcType=VARCHAR},
		#{wechatId,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
		#{payTime,jdbcType=TIMESTAMP}, #{payType,jdbcType=INTEGER}, #{refundContent,jdbcType=VARCHAR},
		#{refundAmount,jdbcType=DOUBLE}, #{refundFee,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.InviteJoin">
		insert into InviteJoin
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="createTime != null">
				Create_time,
			</if>
			<if test="inviteId != null">
				Invite_id,
			</if>
			<if test="memberId != null">
				Member_id,
			</if>
			<if test="amount != null">
				Amount,
			</if>
			<if test="name != null">
				Name,
			</if>
			<if test="wechatId != null">
				WeChat_id,
			</if>
			<if test="phone != null">
				Phone,
			</if>
			<if test="content != null">
				Content,
			</if>
			<if test="payTime != null">
				Pay_time,
			</if>
			<if test="payType != null">
				Pay_type,
			</if>
			<if test="refundContent != null">
				Refund_content,
			</if>
			<if test="refundAmount != null">
				Refund_amount,
			</if>
			<if test="refundFee != null">
				Refund_fee,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="inviteId != null">
				#{inviteId,jdbcType=VARCHAR},
			</if>
			<if test="memberId != null">
				#{memberId,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=DOUBLE},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="wechatId != null">
				#{wechatId,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="payTime != null">
				#{payTime,jdbcType=TIMESTAMP},
			</if>
			<if test="payType != null">
				#{payType,jdbcType=INTEGER},
			</if>
			<if test="refundContent != null">
				#{refundContent,jdbcType=VARCHAR},
			</if>
			<if test="refundAmount != null">
				#{refundAmount,jdbcType=DOUBLE},
			</if>
			<if test="refundFee != null">
				#{refundFee,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.InviteJoin">
		update InviteJoin
		<set>
			<if test="createTime != null">
				Create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="inviteId != null">
				Invite_id = #{inviteId,jdbcType=VARCHAR},
			</if>
			<if test="memberId != null">
				Member_id = #{memberId,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">
				Amount = #{amount,jdbcType=DOUBLE},
			</if>
			<if test="name != null">
				Name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="wechatId != null">
				WeChat_id = #{wechatId,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				Phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				Content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="payTime != null">
				Pay_time = #{payTime,jdbcType=TIMESTAMP},
			</if>
			<if test="payType != null">
				Pay_type = #{payType,jdbcType=INTEGER},
			</if>
			<if test="refundContent != null">
				Refund_content = #{refundContent,jdbcType=VARCHAR},
			</if>
			<if test="refundAmount != null">
				Refund_amount = #{refundAmount,jdbcType=DOUBLE},
			</if>
			<if test="refundFee != null">
				Refund_fee = #{refundFee,jdbcType=INTEGER},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.InviteJoin">
		update InviteJoin
		set Create_time = #{createTime,jdbcType=TIMESTAMP},
		Invite_id = #{inviteId,jdbcType=VARCHAR},
		Member_id = #{memberId,jdbcType=VARCHAR},
		Amount = #{amount,jdbcType=DOUBLE},
		Name = #{name,jdbcType=VARCHAR},
		WeChat_id = #{wechatId,jdbcType=VARCHAR},
		Phone = #{phone,jdbcType=VARCHAR},
		Content = #{content,jdbcType=VARCHAR},
		Pay_time = #{payTime,jdbcType=TIMESTAMP},
		Pay_type = #{payType,jdbcType=INTEGER},
		Refund_content = #{refundContent,jdbcType=VARCHAR},
		Refund_amount = #{refundAmount,jdbcType=DOUBLE},
		Refund_fee = #{refundFee,jdbcType=INTEGER}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>