<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.MemberMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.Member">
		<id column="ID" jdbcType="CHAR" property="id" />
		<result column="CreateTime" jdbcType="DATE" property="createtime" />
		<result column="ModifyTime" jdbcType="DATE" property="modifytime" />
		<result column="Name" jdbcType="VARCHAR" property="name" />
		<result column="Sex" jdbcType="INTEGER" property="sex" />
		<result column="Phone" jdbcType="VARCHAR" property="phone" />
		<result column="Password" jdbcType="VARCHAR" property="password" />
		<result column="ManagerID" jdbcType="VARCHAR" property="managerid" />
		<result column="OpenID" jdbcType="VARCHAR" property="openid" />
		<result column="AppOpenID" jdbcType="VARCHAR" property="appopenid" />
		<result column="UnionID" jdbcType="VARCHAR" property="unionid" />
		<result column="AppNickName" jdbcType="VARCHAR" property="appnickname" />
		<result column="AppAvatarUrl" jdbcType="VARCHAR" property="appavatarurl" />
		<result column="AppGender" jdbcType="INTEGER" property="appgender" />
		<result column="WechatID" jdbcType="VARCHAR" property="wechatid" />
		<result column="WXPayment" jdbcType="DOUBLE" property="wxpayment" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, CreateTime, ModifyTime, Name, Sex, Phone, Password, ManagerID, OpenID, AppOpenID,
		UnionID, AppNickName, AppAvatarUrl, AppGender, WechatID, WXPayment
	</sql>

	<select id="login" parameterType="com.xiaoyi.ssm.model.Member" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Member
		where Phone = #{phone,jdbcType=CHAR} AND Password = #{password,jdbcType=CHAR}
	</select>

	<select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Member where Phone = #{phone,jdbcType=CHAR}
	</select>

	<select id="selectByOpenid" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Member where OpenID = #{openid,jdbcType=CHAR}
	</select>

	<select id="selectByUnionid" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Member where UnionID = #{unionid,jdbcType=CHAR}
	</select>

	<update id="updateByPhone" parameterType="java.lang.String">
		update Member
		set Password =
		#{password,jdbcType=VARCHAR}
		where Phone = #{phone,jdbcType=CHAR}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Member
		where ID = #{id,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from Member
		where ID = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.Member">
		insert into Member (ID, CreateTime, ModifyTime,
		Name, Sex, Phone, Password,
		ManagerID, OpenID, AppOpenID,
		UnionID, AppNickName, AppAvatarUrl,
		AppGender, WechatID, WXPayment
		)
		values (#{id,jdbcType=CHAR}, #{createtime,jdbcType=DATE}, #{modifytime,jdbcType=DATE},
		#{name,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{managerid,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{appopenid,jdbcType=VARCHAR},
		#{unionid,jdbcType=VARCHAR}, #{appnickname,jdbcType=VARCHAR}, #{appavatarurl,jdbcType=VARCHAR},
		#{appgender,jdbcType=INTEGER}, #{wechatid,jdbcType=VARCHAR}, #{wxpayment,jdbcType=DOUBLE}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.Member">
		insert into Member
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="createtime != null">
				CreateTime,
			</if>
			<if test="modifytime != null">
				ModifyTime,
			</if>
			<if test="name != null">
				Name,
			</if>
			<if test="sex != null">
				Sex,
			</if>
			<if test="phone != null">
				Phone,
			</if>
			<if test="password != null">
				Password,
			</if>
			<if test="managerid != null">
				ManagerID,
			</if>
			<if test="openid != null">
				OpenID,
			</if>
			<if test="appopenid != null">
				AppOpenID,
			</if>
			<if test="unionid != null">
				UnionID,
			</if>
			<if test="appnickname != null">
				AppNickName,
			</if>
			<if test="appavatarurl != null">
				AppAvatarUrl,
			</if>
			<if test="appgender != null">
				AppGender,
			</if>
			<if test="wechatid != null">
				WechatID,
			</if>
			<if test="wxpayment != null">
				WXPayment,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=DATE},
			</if>
			<if test="modifytime != null">
				#{modifytime,jdbcType=DATE},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=INTEGER},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="managerid != null">
				#{managerid,jdbcType=VARCHAR},
			</if>
			<if test="openid != null">
				#{openid,jdbcType=VARCHAR},
			</if>
			<if test="appopenid != null">
				#{appopenid,jdbcType=VARCHAR},
			</if>
			<if test="unionid != null">
				#{unionid,jdbcType=VARCHAR},
			</if>
			<if test="appnickname != null">
				#{appnickname,jdbcType=VARCHAR},
			</if>
			<if test="appavatarurl != null">
				#{appavatarurl,jdbcType=VARCHAR},
			</if>
			<if test="appgender != null">
				#{appgender,jdbcType=INTEGER},
			</if>
			<if test="wechatid != null">
				#{wechatid,jdbcType=VARCHAR},
			</if>
			<if test="wxpayment != null">
				#{wxpayment,jdbcType=DOUBLE},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.Member">
		update Member
		<set>
			<if test="createtime != null">
				CreateTime = #{createtime,jdbcType=DATE},
			</if>
			<if test="modifytime != null">
				ModifyTime = #{modifytime,jdbcType=DATE},
			</if>
			<if test="name != null">
				Name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				Sex = #{sex,jdbcType=INTEGER},
			</if>
			<if test="phone != null">
				Phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				Password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="managerid != null">
				ManagerID = #{managerid,jdbcType=VARCHAR},
			</if>
			<if test="openid != null">
				OpenID = #{openid,jdbcType=VARCHAR},
			</if>
			<if test="appopenid != null">
				AppOpenID = #{appopenid,jdbcType=VARCHAR},
			</if>
			<if test="unionid != null">
				UnionID = #{unionid,jdbcType=VARCHAR},
			</if>
			<if test="appnickname != null">
				AppNickName = #{appnickname,jdbcType=VARCHAR},
			</if>
			<if test="appavatarurl != null">
				AppAvatarUrl = #{appavatarurl,jdbcType=VARCHAR},
			</if>
			<if test="appgender != null">
				AppGender = #{appgender,jdbcType=INTEGER},
			</if>
			<if test="wechatid != null">
				WechatID = #{wechatid,jdbcType=VARCHAR},
			</if>
			<if test="wxpayment != null">
				WXPayment = #{wxpayment,jdbcType=DOUBLE},
			</if>
		</set>
		where ID = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.Member">
		update Member
		set CreateTime = #{createtime,jdbcType=DATE},
		ModifyTime = #{modifytime,jdbcType=DATE},
		Name = #{name,jdbcType=VARCHAR},
		Sex = #{sex,jdbcType=INTEGER},
		Phone = #{phone,jdbcType=VARCHAR},
		Password = #{password,jdbcType=VARCHAR},
		ManagerID = #{managerid,jdbcType=VARCHAR},
		OpenID = #{openid,jdbcType=VARCHAR},
		AppOpenID = #{appopenid,jdbcType=VARCHAR},
		UnionID = #{unionid,jdbcType=VARCHAR},
		AppNickName = #{appnickname,jdbcType=VARCHAR},
		AppAvatarUrl = #{appavatarurl,jdbcType=VARCHAR},
		AppGender = #{appgender,jdbcType=INTEGER},
		WechatID = #{wechatid,jdbcType=VARCHAR},
		WXPayment = #{wxpayment,jdbcType=DOUBLE}
		where ID = #{id,jdbcType=CHAR}
	</update>
</mapper>