<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.TrainCoachMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.TrainCoach">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="Create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="Modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
		<result column="Train_team_id" jdbcType="VARCHAR" property="trainTeamId" />
		<result column="Member_id" jdbcType="VARCHAR" property="memberId" />
		<result column="Name" jdbcType="VARCHAR" property="name" />
		<result column="Type" jdbcType="INTEGER" property="type" />
		<result column="Sex" jdbcType="INTEGER" property="sex" />
		<result column="Working_age" jdbcType="INTEGER" property="workingAge" />
		<result column="Head_image" jdbcType="VARCHAR" property="headImage" />
		<result column="Lecture_style" jdbcType="VARCHAR" property="lectureStyle" />
		<result column="Vitae" jdbcType="VARCHAR" property="vitae" />
		<result column="Education" jdbcType="VARCHAR" property="education" />
		<result column="Honor" jdbcType="VARCHAR" property="honor" />
		<result column="Teach_class" jdbcType="VARCHAR" property="teachClass" />
		<result column="Phone" jdbcType="VARCHAR" property="phone" />
		<result column="Manager" jdbcType="INTEGER" property="manager" />
		<association property="trainTeam" javaType="com.xiaoyi.ssm.model.TrainTeam">
			<id column="ttID" jdbcType="VARCHAR" property="id" />
			<result column="ttTitle" jdbcType="VARCHAR" property="title" />
			<result column="ttCity_id" jdbcType="VARCHAR" property="cityId" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		ID, Create_time, Modify_time, Train_team_id, Member_id, Name, Type, Sex, Working_age,
		Head_image, Lecture_style, Vitae, Education, Honor, Teach_class, Phone, Manager
	</sql>

	<select id="selectByTrainTeamID" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from TrainCoach where Train_team_id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="selectByMemberId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from TrainCoach where Member_id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByMemberTeam" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from TrainCoach where Member_id = #{memberId,jdbcType=VARCHAR} 
		and Train_team_id = #{teamId,jdbcType=VARCHAR} limit 1
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT tc.*,tt.ID ttID, tt.`Title` ttTitle, tt.`City_id` ttCity_id FROM TrainCoach tc LEFT JOIN TrainTeam tt ON tc.`Train_team_id` = tt.`ID`
		where tc.ID = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="countByTeam" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(0) from TrainCoach where Train_team_id = #{id,jdbcType=VARCHAR}
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from TrainCoach
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.TrainCoach">
		insert into TrainCoach (ID, Create_time, Modify_time,
		Train_team_id, Member_id, Name,
		Type, Sex, Working_age,
		Head_image, Lecture_style, Vitae,
		Education, Honor, Teach_class,
		Phone, Manager)
		values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP},
		#{trainTeamId,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
		#{type,jdbcType=INTEGER}, #{sex,jdbcType=INTEGER}, #{workingAge,jdbcType=INTEGER},
		#{headImage,jdbcType=VARCHAR}, #{lectureStyle,jdbcType=VARCHAR}, #{vitae,jdbcType=VARCHAR},
		#{education,jdbcType=VARCHAR}, #{honor,jdbcType=VARCHAR}, #{teachClass,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR}, #{manager,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.TrainCoach">
		insert into TrainCoach
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="createTime != null">
				Create_time,
			</if>
			<if test="modifyTime != null">
				Modify_time,
			</if>
			<if test="trainTeamId != null">
				Train_team_id,
			</if>
			<if test="memberId != null">
				Member_id,
			</if>
			<if test="name != null">
				Name,
			</if>
			<if test="type != null">
				Type,
			</if>
			<if test="sex != null">
				Sex,
			</if>
			<if test="workingAge != null">
				Working_age,
			</if>
			<if test="headImage != null">
				Head_image,
			</if>
			<if test="lectureStyle != null">
				Lecture_style,
			</if>
			<if test="vitae != null">
				Vitae,
			</if>
			<if test="education != null">
				Education,
			</if>
			<if test="honor != null">
				Honor,
			</if>
			<if test="teachClass != null">
				Teach_class,
			</if>
			<if test="phone != null">
				Phone,
			</if>
			<if test="manager != null">
				Manager,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="trainTeamId != null">
				#{trainTeamId,jdbcType=VARCHAR},
			</if>
			<if test="memberId != null">
				#{memberId,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=INTEGER},
			</if>
			<if test="workingAge != null">
				#{workingAge,jdbcType=INTEGER},
			</if>
			<if test="headImage != null">
				#{headImage,jdbcType=VARCHAR},
			</if>
			<if test="lectureStyle != null">
				#{lectureStyle,jdbcType=VARCHAR},
			</if>
			<if test="vitae != null">
				#{vitae,jdbcType=VARCHAR},
			</if>
			<if test="education != null">
				#{education,jdbcType=VARCHAR},
			</if>
			<if test="honor != null">
				#{honor,jdbcType=VARCHAR},
			</if>
			<if test="teachClass != null">
				#{teachClass,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="manager != null">
				#{manager,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.TrainCoach">
		update TrainCoach
		<set>
			<if test="createTime != null">
				Create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				Modify_time = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="trainTeamId != null">
				Train_team_id = #{trainTeamId,jdbcType=VARCHAR},
			</if>
			<if test="memberId != null">
				Member_id = #{memberId,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				Name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				Type = #{type,jdbcType=INTEGER},
			</if>
			<if test="sex != null">
				Sex = #{sex,jdbcType=INTEGER},
			</if>
			<if test="workingAge != null">
				Working_age = #{workingAge,jdbcType=INTEGER},
			</if>
			<if test="headImage != null">
				Head_image = #{headImage,jdbcType=VARCHAR},
			</if>
			<if test="lectureStyle != null">
				Lecture_style = #{lectureStyle,jdbcType=VARCHAR},
			</if>
			<if test="vitae != null">
				Vitae = #{vitae,jdbcType=VARCHAR},
			</if>
			<if test="education != null">
				Education = #{education,jdbcType=VARCHAR},
			</if>
			<if test="honor != null">
				Honor = #{honor,jdbcType=VARCHAR},
			</if>
			<if test="teachClass != null">
				Teach_class = #{teachClass,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				Phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="manager != null">
				Manager = #{manager,jdbcType=INTEGER},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.TrainCoach">
		update TrainCoach
		set Create_time = #{createTime,jdbcType=TIMESTAMP},
		Modify_time = #{modifyTime,jdbcType=TIMESTAMP},
		Train_team_id = #{trainTeamId,jdbcType=VARCHAR},
		Member_id = #{memberId,jdbcType=VARCHAR},
		Name = #{name,jdbcType=VARCHAR},
		Type = #{type,jdbcType=INTEGER},
		Sex = #{sex,jdbcType=INTEGER},
		Working_age = #{workingAge,jdbcType=INTEGER},
		Head_image = #{headImage,jdbcType=VARCHAR},
		Lecture_style = #{lectureStyle,jdbcType=VARCHAR},
		Vitae = #{vitae,jdbcType=VARCHAR},
		Education = #{education,jdbcType=VARCHAR},
		Honor = #{honor,jdbcType=VARCHAR},
		Teach_class = #{teachClass,jdbcType=VARCHAR},
		Phone = #{phone,jdbcType=VARCHAR},
		Manager = #{manager,jdbcType=INTEGER}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>