<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.TrainTeamMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.TrainTeam">
		<id column="ID" jdbcType="CHAR" property="id" />
		<result column="Train_team_no" jdbcType="INTEGER" property="trainTeamNo" />
		<result column="Create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="Modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
		<result column="Title" jdbcType="VARCHAR" property="title" />
		<result column="Title_flag" jdbcType="INTEGER" property="titleFlag" />
		<result column="Phone" jdbcType="VARCHAR" property="phone" />
		<result column="Head_image" jdbcType="VARCHAR" property="headImage" />
		<result column="Brand_content" jdbcType="VARCHAR" property="brandContent" />
		<result column="Trait" jdbcType="VARCHAR" property="trait" />
		<result column="Free_classes" jdbcType="INTEGER" property="freeClasses" />
		<result column="Free_parking" jdbcType="INTEGER" property="freeParking" />
		<result column="City_id" jdbcType="VARCHAR" property="cityId" />
		<result column="Address" jdbcType="VARCHAR" property="address" />
		<result column="Longitude" jdbcType="DOUBLE" property="longitude" />
		<result column="Latitude" jdbcType="DOUBLE" property="latitude" />
		<result column="Venue_number" jdbcType="INTEGER" property="venueNumber" />
		<result column="Teach_class" jdbcType="VARCHAR" property="teachClass" />
		<result column="Level" jdbcType="INTEGER" property="level" />
		<result column="Level_time" jdbcType="TIMESTAMP" property="levelTime" />
		<result column="Min_amount" jdbcType="DOUBLE" property="minAmount" />
		<result column="Ball_hour1" jdbcType="INTEGER" property="ballHour1" />
		<result column="Ball_hour2" jdbcType="INTEGER" property="ballHour2" />
		<result column="Ball_hour3" jdbcType="INTEGER" property="ballHour3" />
		<result column="Type_flag" jdbcType="INTEGER" property="typeFlag" />
		<result column="Train_coach_id" jdbcType="VARCHAR" property="trainCoachId" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, Train_team_no, Create_time, Modify_time, Title, Title_flag, Phone, Head_image,
		Brand_content, Trait, Free_classes, Free_parking, City_id, Address, Longitude, Latitude,
		Venue_number, Teach_class, Level, Level_time, Min_amount, Ball_hour1, Ball_hour2,
		Ball_hour3, Type_flag, Train_coach_id
	</sql>

	<select id="selectByNearby" resultMap="BaseResultMap">
		SELECT
		tt.*,ABS(tt.`Longitude` -
		#{lng,jdbcType=DOUBLE}) + ABS(tt.`Latitude` - #{lat,jdbcType=DOUBLE}) lnglat
		FROM TrainTeam tt
		ORDER BY lnglat ASC
	</select>

	<select id="selectByCoach" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT tt.* FROM
		TrainTeam tt INNER JOIN TrainCoach tc ON tt.`ID` = tc.`Train_team_id` WHERE tc.`ID` = #{coachid}
	</select>

	<select id="selectByAll" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT * FROM TrainTeam
	</select>

	<select id="countByTeamId" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(0) FROM
		TrainTeamVenue where Train_team_id = #{id}
	</select>

	<select id="selectMinAmount" parameterType="java.lang.String" resultType="java.lang.Double">
		SELECT
		MIN(tco.`Amount`) FROM (SELECT tc.`ID` tcID FROM TrainTeam tt INNER JOIN TrainCoach tc ON tt.`ID`
		= tc.`Train_team_id` WHERE tt.`ID` = #{trainTeamId}) ttc
		INNER JOIN `TrainCourse` tco ON ttc.tcID =
		tco.Train_coach_id
	</select>

	<select id="selectVenueMinAmount" parameterType="java.lang.String" resultType="java.lang.Double">
		SELECT
		IFNULL(MIN(tco.`Amount`),0) FROM (SELECT tc.`ID` tcID FROM (
		SELECT tte.id FROM TrainTeam tte LEFT
		JOIN TrainTeamVenue ttv ON tte.`ID` = ttv.`Train_team_id` WHERE
		ttv.`Train_venue_id` = #{venueid})
		tt INNER JOIN TrainCoach tc ON tt.`ID` = tc.`Train_team_id` ) ttc
		INNER JOIN `TrainCourse` tco ON
		ttc.tcID = tco.Train_coach_id
	</select>

	<select id="selectAllAdmin" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT * FROM TrainTeam tt LEFT JOIN City c ON tt.`City_id` = c.`ID`
		<where>
			<if test="selectType != null">
				<if test="selectType == 0">
					<if test="keyword != null and keyword != ''">
						AND c.`City` LIKE concat('%',concat('${keyword}','%'))
					</if>
				</if>
				<if test="selectType == 1">
					<if test="keyword != null and keyword != ''">
						AND tt.Title LIKE concat('%',concat('${keyword}','%'))
					</if>
				</if>
			</if>
		</where>
		ORDER BY Modify_time DESC
	</select>

	<select id="selectByVenue" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT * FROM
		TrainTeam tt LEFT JOIN TrainTeamVenue ttv ON tt.`ID` = ttv.`Train_team_id` WHERE
		ttv.`Train_venue_id` = #{id}
	</select>

	<select id="selectByNearbyMapTrainTeam" resultMap="BaseResultMap">
		SELECT * FROM TrainTeam WHERE `Longitude`
		&gt; #{begLng} AND `Longitude` &lt; #{endLng} AND `Latitude` &gt; #{begLat} AND `Latitude` &lt;
		#{endLat}
	</select>

	<insert id="saveTrainTeamVenue" parameterType="com.xiaoyi.ssm.model.TrainTeamVenue">
		insert into TrainTeamVenue (ID,
		Train_venue_id, Train_team_id
		)
		values (#{id,jdbcType=VARCHAR}, #{trainVenueId,jdbcType=VARCHAR},
		#{trainTeamId,jdbcType=VARCHAR}
		)
	</insert>

	<select id="selectByCollect" resultMap="BaseResultMap">
		SELECT * FROM TrainTeam tt INNER JOIN
		TrainTeamCollect ttc ON tt.`ID` = ttc.`Train_team_id` WHERE ttc.`Member_id` = #{id}
	</select>

	<select id="selectByNearbyMapTrainTeamType" resultMap="BaseResultMap">
		SELECT * FROM TrainTeam WHERE `Longitude` &gt; #{begLng} AND `Longitude` &lt; #{endLng} AND
		`Latitude` &gt; #{begLat} AND `Latitude` &lt; #{endLat}
		<if test="ballType != null">
			<if test="ballType == 1">
				AND Teach_class like "%网球%"
			</if>
			<if test="ballType == 2">
				AND Teach_class like "%足球%"
			</if>
			<if test="ballType == 3">
				AND Teach_class like "%羽毛球%"
			</if>
		</if>
		AND Type_flag = 1
	</select>

	<select id="selectByMember" resultMap="BaseResultMap">
		SELECT tt.* FROM TrainTeam tt INNER JOIN
		TrainTeamCoach ttc ON tt.`ID` = ttc.`Train_team_id`
		INNER JOIN TrainCoach tc ON tc.`ID` = ttc.`Train_coach_id` WHERE tc.`Member_id` = #{id}
	</select>

	<select id="selectByMemberManager" resultMap="BaseResultMap">
		SELECT tt.* FROM TrainTeam tt INNER JOIN
		TrainTeamCoach ttc ON tt.`ID` = ttc.`Train_team_id`
		INNER JOIN TrainCoach tc ON tc.`ID` = ttc.`Train_coach_id` WHERE tc.`Member_id` = #{memberid} AND
		ttc.`Manager` = #{manager}
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from TrainTeam
		where ID = #{id,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from TrainTeam
		where ID = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.TrainTeam">
		insert into TrainTeam (ID, Train_team_no, Create_time,
		Modify_time, Title, Title_flag,
		Phone, Head_image, Brand_content,
		Trait, Free_classes, Free_parking,
		City_id, Address, Longitude,
		Latitude, Venue_number, Teach_class,
		Level, Level_time, Min_amount,
		Ball_hour1, Ball_hour2, Ball_hour3,
		Type_flag, Train_coach_id)
		values (#{id,jdbcType=CHAR}, #{trainTeamNo,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
		#{modifyTime,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR}, #{titleFlag,jdbcType=INTEGER},
		#{phone,jdbcType=VARCHAR}, #{headImage,jdbcType=VARCHAR}, #{brandContent,jdbcType=VARCHAR},
		#{trait,jdbcType=VARCHAR}, #{freeClasses,jdbcType=INTEGER}, #{freeParking,jdbcType=INTEGER},
		#{cityId,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{longitude,jdbcType=DOUBLE},
		#{latitude,jdbcType=DOUBLE}, #{venueNumber,jdbcType=INTEGER}, #{teachClass,jdbcType=VARCHAR},
		#{level,jdbcType=INTEGER}, #{levelTime,jdbcType=TIMESTAMP}, #{minAmount,jdbcType=DOUBLE},
		#{ballHour1,jdbcType=INTEGER}, #{ballHour2,jdbcType=INTEGER}, #{ballHour3,jdbcType=INTEGER},
		#{typeFlag,jdbcType=INTEGER}, #{trainCoachId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.TrainTeam">
		insert into TrainTeam
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="trainTeamNo != null">
				Train_team_no,
			</if>
			<if test="createTime != null">
				Create_time,
			</if>
			<if test="modifyTime != null">
				Modify_time,
			</if>
			<if test="title != null">
				Title,
			</if>
			<if test="titleFlag != null">
				Title_flag,
			</if>
			<if test="phone != null">
				Phone,
			</if>
			<if test="headImage != null">
				Head_image,
			</if>
			<if test="brandContent != null">
				Brand_content,
			</if>
			<if test="trait != null">
				Trait,
			</if>
			<if test="freeClasses != null">
				Free_classes,
			</if>
			<if test="freeParking != null">
				Free_parking,
			</if>
			<if test="cityId != null">
				City_id,
			</if>
			<if test="address != null">
				Address,
			</if>
			<if test="longitude != null">
				Longitude,
			</if>
			<if test="latitude != null">
				Latitude,
			</if>
			<if test="venueNumber != null">
				Venue_number,
			</if>
			<if test="teachClass != null">
				Teach_class,
			</if>
			<if test="level != null">
				Level,
			</if>
			<if test="levelTime != null">
				Level_time,
			</if>
			<if test="minAmount != null">
				Min_amount,
			</if>
			<if test="ballHour1 != null">
				Ball_hour1,
			</if>
			<if test="ballHour2 != null">
				Ball_hour2,
			</if>
			<if test="ballHour3 != null">
				Ball_hour3,
			</if>
			<if test="typeFlag != null">
				Type_flag,
			</if>
			<if test="trainCoachId != null">
				Train_coach_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="trainTeamNo != null">
				#{trainTeamNo,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="titleFlag != null">
				#{titleFlag,jdbcType=INTEGER},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="headImage != null">
				#{headImage,jdbcType=VARCHAR},
			</if>
			<if test="brandContent != null">
				#{brandContent,jdbcType=VARCHAR},
			</if>
			<if test="trait != null">
				#{trait,jdbcType=VARCHAR},
			</if>
			<if test="freeClasses != null">
				#{freeClasses,jdbcType=INTEGER},
			</if>
			<if test="freeParking != null">
				#{freeParking,jdbcType=INTEGER},
			</if>
			<if test="cityId != null">
				#{cityId,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="longitude != null">
				#{longitude,jdbcType=DOUBLE},
			</if>
			<if test="latitude != null">
				#{latitude,jdbcType=DOUBLE},
			</if>
			<if test="venueNumber != null">
				#{venueNumber,jdbcType=INTEGER},
			</if>
			<if test="teachClass != null">
				#{teachClass,jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				#{level,jdbcType=INTEGER},
			</if>
			<if test="levelTime != null">
				#{levelTime,jdbcType=TIMESTAMP},
			</if>
			<if test="minAmount != null">
				#{minAmount,jdbcType=DOUBLE},
			</if>
			<if test="ballHour1 != null">
				#{ballHour1,jdbcType=INTEGER},
			</if>
			<if test="ballHour2 != null">
				#{ballHour2,jdbcType=INTEGER},
			</if>
			<if test="ballHour3 != null">
				#{ballHour3,jdbcType=INTEGER},
			</if>
			<if test="typeFlag != null">
				#{typeFlag,jdbcType=INTEGER},
			</if>
			<if test="trainCoachId != null">
				#{trainCoachId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.TrainTeam">
		update TrainTeam
		<set>
			<if test="trainTeamNo != null">
				Train_team_no = #{trainTeamNo,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				Create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				Modify_time = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="title != null">
				Title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="titleFlag != null">
				Title_flag = #{titleFlag,jdbcType=INTEGER},
			</if>
			<if test="phone != null">
				Phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="headImage != null">
				Head_image = #{headImage,jdbcType=VARCHAR},
			</if>
			<if test="brandContent != null">
				Brand_content = #{brandContent,jdbcType=VARCHAR},
			</if>
			<if test="trait != null">
				Trait = #{trait,jdbcType=VARCHAR},
			</if>
			<if test="freeClasses != null">
				Free_classes = #{freeClasses,jdbcType=INTEGER},
			</if>
			<if test="freeParking != null">
				Free_parking = #{freeParking,jdbcType=INTEGER},
			</if>
			<if test="cityId != null">
				City_id = #{cityId,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				Address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="longitude != null">
				Longitude = #{longitude,jdbcType=DOUBLE},
			</if>
			<if test="latitude != null">
				Latitude = #{latitude,jdbcType=DOUBLE},
			</if>
			<if test="venueNumber != null">
				Venue_number = #{venueNumber,jdbcType=INTEGER},
			</if>
			<if test="teachClass != null">
				Teach_class = #{teachClass,jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				Level = #{level,jdbcType=INTEGER},
			</if>
			<if test="levelTime != null">
				Level_time = #{levelTime,jdbcType=TIMESTAMP},
			</if>
			<if test="minAmount != null">
				Min_amount = #{minAmount,jdbcType=DOUBLE},
			</if>
			<if test="ballHour1 != null">
				Ball_hour1 = #{ballHour1,jdbcType=INTEGER},
			</if>
			<if test="ballHour2 != null">
				Ball_hour2 = #{ballHour2,jdbcType=INTEGER},
			</if>
			<if test="ballHour3 != null">
				Ball_hour3 = #{ballHour3,jdbcType=INTEGER},
			</if>
			<if test="typeFlag != null">
				Type_flag = #{typeFlag,jdbcType=INTEGER},
			</if>
			<if test="trainCoachId != null">
				Train_coach_id = #{trainCoachId,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.TrainTeam">
		update TrainTeam
		set Train_team_no = #{trainTeamNo,jdbcType=INTEGER},
		Create_time = #{createTime,jdbcType=TIMESTAMP},
		Modify_time = #{modifyTime,jdbcType=TIMESTAMP},
		Title = #{title,jdbcType=VARCHAR},
		Title_flag = #{titleFlag,jdbcType=INTEGER},
		Phone = #{phone,jdbcType=VARCHAR},
		Head_image = #{headImage,jdbcType=VARCHAR},
		Brand_content = #{brandContent,jdbcType=VARCHAR},
		Trait = #{trait,jdbcType=VARCHAR},
		Free_classes = #{freeClasses,jdbcType=INTEGER},
		Free_parking = #{freeParking,jdbcType=INTEGER},
		City_id = #{cityId,jdbcType=VARCHAR},
		Address = #{address,jdbcType=VARCHAR},
		Longitude = #{longitude,jdbcType=DOUBLE},
		Latitude = #{latitude,jdbcType=DOUBLE},
		Venue_number = #{venueNumber,jdbcType=INTEGER},
		Teach_class = #{teachClass,jdbcType=VARCHAR},
		Level = #{level,jdbcType=INTEGER},
		Level_time = #{levelTime,jdbcType=TIMESTAMP},
		Min_amount = #{minAmount,jdbcType=DOUBLE},
		Ball_hour1 = #{ballHour1,jdbcType=INTEGER},
		Ball_hour2 = #{ballHour2,jdbcType=INTEGER},
		Ball_hour3 = #{ballHour3,jdbcType=INTEGER},
		Type_flag = #{typeFlag,jdbcType=INTEGER},
		Train_coach_id = #{trainCoachId,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=CHAR}
	</update>
</mapper>