<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.TrainLogMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.TrainLog">
		<id column="ID" jdbcType="CHAR" property="id" />
		<result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="TrainID" jdbcType="VARCHAR" property="trainid" />
		<result column="Type" jdbcType="INTEGER" property="type" />
		<result column="Content" jdbcType="VARCHAR" property="content" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, CreateTime, TrainID, Type, Content
	</sql>
	
	<select id="selectByTrain" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from TrainLog where TrainID = #{id,jdbcType=CHAR} ORDER BY CreateTime DESC
	</select>
	
	<select id="countByTrain" parameterType="java.lang.String" resultType="Integer">
		select COUNT(0) from TrainLog where TrainID = #{id,jdbcType=CHAR}
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from TrainLog
		where ID = #{id,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from TrainLog
		where ID = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.TrainLog">
		insert into TrainLog (ID, CreateTime, TrainID,
		Type, Content)
		values (#{id,jdbcType=CHAR}, #{createtime,jdbcType=TIMESTAMP}, #{trainid,jdbcType=VARCHAR},
		#{type,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.TrainLog">
		insert into TrainLog
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="createtime != null">
				CreateTime,
			</if>
			<if test="trainid != null">
				TrainID,
			</if>
			<if test="type != null">
				Type,
			</if>
			<if test="content != null">
				Content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="trainid != null">
				#{trainid,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.TrainLog">
		update TrainLog
		<set>
			<if test="createtime != null">
				CreateTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="trainid != null">
				TrainID = #{trainid,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				Type = #{type,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				Content = #{content,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.TrainLog">
		update TrainLog
		set CreateTime = #{createtime,jdbcType=TIMESTAMP},
		TrainID = #{trainid,jdbcType=VARCHAR},
		Type = #{type,jdbcType=INTEGER},
		Content = #{content,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=CHAR}
	</update>
</mapper>