<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.VenueErrorMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.VenueError">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="Create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="Member_id" jdbcType="VARCHAR" property="memberId" />
		<result column="Venue_id" jdbcType="VARCHAR" property="venueId" />
		<result column="Content" jdbcType="VARCHAR" property="content" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, Create_time, Member_id, Venue_id, Content
	</sql>
	
	<select id="countByVenue" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(0) from VenueError where Venue_id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from VenueError
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from VenueError
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.VenueError">
		insert into VenueError (ID, Create_time, Member_id,
		Venue_id, Content)
		values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{memberId,jdbcType=VARCHAR},
		#{venueId,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.VenueError">
		insert into VenueError
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="createTime != null">
				Create_time,
			</if>
			<if test="memberId != null">
				Member_id,
			</if>
			<if test="venueId != null">
				Venue_id,
			</if>
			<if test="content != null">
				Content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="memberId != null">
				#{memberId,jdbcType=VARCHAR},
			</if>
			<if test="venueId != null">
				#{venueId,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.VenueError">
		update VenueError
		<set>
			<if test="createTime != null">
				Create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="memberId != null">
				Member_id = #{memberId,jdbcType=VARCHAR},
			</if>
			<if test="venueId != null">
				Venue_id = #{venueId,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				Content = #{content,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.VenueError">
		update VenueError
		set Create_time = #{createTime,jdbcType=TIMESTAMP},
		Member_id = #{memberId,jdbcType=VARCHAR},
		Venue_id = #{venueId,jdbcType=VARCHAR},
		Content = #{content,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>