<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.VenueDayStatisLogMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.VenueDayStatisLog">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="Create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="Venue_day_statis_id" jdbcType="VARCHAR" property="venueDayStatisId" />
		<result column="Content" jdbcType="VARCHAR" property="content" />
		<result column="Staff_id" jdbcType="VARCHAR" property="staffId" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, Create_time, Venue_day_statis_id, Content, Staff_id
	</sql>

	<select id="countVenueDay" parameterType="java.lang.String" resultType="java.lang.Integer">
		select COUNT(0) from VenueDayStatisLog
		where Venue_day_statis_id =
		#{venueDayStatisId,jdbcType=VARCHAR}
	</select>

	<select id="selectByVenueDay" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from VenueDayStatisLog
		where Venue_day_statis_id = #{venueDayStatisId,jdbcType=VARCHAR}
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from VenueDayStatisLog
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from VenueDayStatisLog
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.VenueDayStatisLog">
		insert into VenueDayStatisLog (ID, Create_time, Venue_day_statis_id,
		Content, Staff_id)
		values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{venueDayStatisId,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR}, #{staffId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.VenueDayStatisLog">
		insert into VenueDayStatisLog
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="createTime != null">
				Create_time,
			</if>
			<if test="venueDayStatisId != null">
				Venue_day_statis_id,
			</if>
			<if test="content != null">
				Content,
			</if>
			<if test="staffId != null">
				Staff_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="venueDayStatisId != null">
				#{venueDayStatisId,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="staffId != null">
				#{staffId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.VenueDayStatisLog">
		update VenueDayStatisLog
		<set>
			<if test="createTime != null">
				Create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="venueDayStatisId != null">
				Venue_day_statis_id = #{venueDayStatisId,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				Content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="staffId != null">
				Staff_id = #{staffId,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.VenueDayStatisLog">
		update VenueDayStatisLog
		set Create_time = #{createTime,jdbcType=TIMESTAMP},
		Venue_day_statis_id = #{venueDayStatisId,jdbcType=VARCHAR},
		Content = #{content,jdbcType=VARCHAR},
		Staff_id = #{staffId,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
</mapper>