<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GongAnProduct</display-name>
  <welcome-file-list>
    <welcome-file>/admin/view.shtml</welcome-file>
  </welcome-file-list>
  <distributable/>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
	    	classpath*:/applicationContext.xml,
			classpath*:/applicationContext-shiro.xml,
			classpath*:/applicationContext-job.xml,
			classpath*:/applicationContext-init.xml
			classpath*:/applicationContext-global.xml
    	</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.ruiec.web.interceptor.MySessionListener</listener-class>
  </listener>
  <filter-mapping>
    <filter-name>getEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>postEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>getEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>postEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
<!--   <filter>
    <display-name>OpenWebsiteFilter</display-name>
    <filter-name>OpenWebsiteFilter</filter-name>
    <filter-class>com.ruiec.web.filter.OpenWebsiteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OpenWebsiteFilter</filter-name>
    <url-pattern>*.shtml</url-pattern>
  </filter-mapping> -->
  <!-- <filter>
    <filter-name>KeepCookieOnline</filter-name>
    <filter-class>com.ruiec.web.filter.KeepCookieOnline</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>KeepCookieOnline</filter-name>
    <url-pattern>*.shtml</url-pattern>
  </filter-mapping> -->
  <!-- <filter>
    <filter-name>UserCenterAjaxAuthFilter</filter-name>
    <filter-class>com.ruiec.web.filter.UserCenterAjaxAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserCenterAjaxAuthFilter</filter-name>
    <url-pattern>/userCenter/*</url-pattern>
  </filter-mapping> -->
  <!-- <filter>
    <filter-name>UserCenterAuthFilter</filter-name>
    <filter-class>com.ruiec.web.filter.UserCenterAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserCenterAuthFilter</filter-name>
    <url-pattern>/userCenter/*</url-pattern>
  </filter-mapping> -->
  <!-- <filter>
    <filter-name>CaptchaCountdownFilter</filter-name>
    <filter-class>com.ruiec.web.filter.CaptchaCountdownFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CaptchaCountdownFilter</filter-name>
    <url-pattern>/captcha/*</url-pattern>
  </filter-mapping> -->
 <!--  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping> -->
  <filter>
    <filter-name>fileUpload</filter-name>
    <filter-class>com.ruiec.web.filter.FileUpload</filter-class>
  </filter>
  <filter>
    <filter-name>ExeclFileUpload</filter-name>
    <filter-class>com.ruiec.web.filter.ExeclFileUpload</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>fileUpload</filter-name>
    <url-pattern>/admin/upload.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>fileUpload</filter-name>
    <url-pattern>/userCenter/upload</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>fileUpload</filter-name>
    <url-pattern>/userCenter/upload.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExeclFileUpload</filter-name>
    <url-pattern>/execl/execlFileUpload.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>springMVC</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:applicationContext-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springMVC</servlet-name>
    <url-pattern>*.shtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminRedirect</servlet-name>
    <servlet-class>com.ruiec.web.servlet.AdminRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRedirect</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <error-page>
      <error-code>404</error-code>
      <location>/WEB-INF/temlate/admin/common/404.html</location>
  </error-page>
</web-app>