<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="tpl-left-nav tpl-left-nav-hover">
    <div class="tpl-left-nav-title">菜单列表 </div>
    <div class="tpl-left-nav-list">
        <ul class="tpl-left-nav-menu">
            <li class="tpl-left-nav-item">
                <a href="/admin/index.html" class="nav-link active">
                    <i class="am-icon-home"></i>
                    <span>首页</span>
                </a>
            </li>
            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-play-circle"></i>
                    <span>电影管理</span>
                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                </a>
                <ul class="tpl-left-nav-sub-menu">
                    <li>
                        <a href="/admin/movie">
                            <i class="am-icon-angle-right"></i>
                            <span>电影列表</span>
                        </a>
                        <a href="/admin/movieArea">
                            <i class="am-icon-angle-right"></i>
                            <span>电影地区列表</span>
                        </a>
                        <a href="/admin/movieType">
                            <i class="am-icon-angle-right"></i>
                            <span>电影分类列表</span>
                        </a>
                        <a href="/admin/movieLanguage">
                            <i class="am-icon-angle-right"></i>
                            <span>电影语言列表</span>
                        </a>
                        <a href="/admin/movieResources">
                            <i class="am-icon-angle-right"></i>
                            <span>电影资源列表</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-television"></i>
                    <span>电视剧管理</span>
                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                </a>
                <ul class="tpl-left-nav-sub-menu">
                    <li>
                        <a href="/admin/tv">
                            <i class="am-icon-angle-right"></i>
                            <span>电视剧列表</span>
                        </a>
                        <a href="/admin/tvArea">
                            <i class="am-icon-angle-right"></i>
                            <span>电视剧地区列表</span>
                        </a>
                        <a href="/admin/tvType">
                            <i class="am-icon-angle-right"></i>
                            <span>电视剧分类列表</span>
                        </a>
                        <a href="/admin/tvResources">
                            <i class="am-icon-angle-right"></i>
                            <span>电视剧资源列表</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-star-half-o"></i>
                    <span>综艺</span>
                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                </a>
                <ul class="tpl-left-nav-sub-menu">
                    <li>
                        <a href="/admin/variety">
                            <i class="am-icon-angle-right"></i>
                            <span>综艺列表</span>
                        </a>
                        <a href="/admin/varietyArea">
                            <i class="am-icon-angle-right"></i>
                            <span>综艺地区列表</span>
                        </a>
                        <a href="/admin/varietyType">
                            <i class="am-icon-angle-right"></i>
                            <span>综艺分类列表</span>
                        </a>
                        <a href="/admin/varietyResources">
                            <i class="am-icon-angle-right"></i>
                            <span>综艺资源列表</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-github-alt"></i>
                    <span>动漫管理</span>
                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                </a>
                <ul class="tpl-left-nav-sub-menu">
                    <li>
                        <a href="variety">
                            <i class="am-icon-angle-right"></i>
                            <span>动漫列表</span>
                        </a>
                        <a href="varietyArea">
                            <i class="am-icon-angle-right"></i>
                            <span>动漫地区列表</span>
                        </a>
                        <a href="varietyType">
                            <i class="am-icon-angle-right"></i>
                            <span>动漫分类列表</span>
                        </a>
                        <a href="varietyType">
                            <i class="am-icon-angle-right"></i>
                            <span>动漫语言列表</span>
                        </a>
                        <a href="varietyResources">
                            <i class="am-icon-angle-right"></i>
                            <span>动漫资源列表</span>
                        </a>
                    </li>
                </ul>
            </li> -->
        </ul>
    </div>
</div>
</body>
</html>