<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.FieldMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.Field">
		<id column="ID" jdbcType="CHAR" property="id" />
		<result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="modifyTime" jdbcType="TIMESTAMP" property="modifytime" />
		<result column="VenueID" jdbcType="VARCHAR" property="venueid" />
		<result column="Name" jdbcType="VARCHAR" property="name" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, CreateTime, modifyTime, VenueID, Name
	</sql>
	
	<select id="countByVenue" parameterType="java.lang.String" resultType="Integer">
		select count(0) from Field where VenueID = #{id}
	</select>
	
	<select id="selectByAll" parameterType="com.xiaoyi.ssm.model.Field" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Field
		<where>
			<if test="createtime != null ">
				AND CreateTime = #{createtime,jdbcType=TIMESTAMP}
			</if>
			<if test="modifytime != null ">
				AND modifyTime = #{modifytime,jdbcType=TIMESTAMP}
			</if>
			<if test="venueid != null and venueid != ''">
				AND VenueID = #{venueid,jdbcType=VARCHAR}
			</if>
			<if test="name != null and name != ''">
				AND Name = #{name,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<select id="selectByVenue" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Field
		where VenueID = #{id,jdbcType=CHAR}
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Field
		where ID = #{id,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from Field
		where ID = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.Field">
		insert into Field (ID, CreateTime, modifyTime,
		VenueID, Name)
		values (#{id,jdbcType=CHAR}, #{createtime,jdbcType=TIMESTAMP}, #{modifytime,jdbcType=TIMESTAMP},
		#{venueid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.Field">
		insert into Field
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="createtime != null">
				CreateTime,
			</if>
			<if test="modifytime != null">
				modifyTime,
			</if>
			<if test="venueid != null">
				VenueID,
			</if>
			<if test="name != null">
				Name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifytime != null">
				#{modifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="venueid != null">
				#{venueid,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.Field">
		update Field
		<set>
			<if test="createtime != null">
				CreateTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifytime != null">
				modifyTime = #{modifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="venueid != null">
				VenueID = #{venueid,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				Name = #{name,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.Field">
		update Field
		set CreateTime = #{createtime,jdbcType=TIMESTAMP},
		modifyTime = #{modifytime,jdbcType=TIMESTAMP},
		VenueID = #{venueid,jdbcType=VARCHAR},
		Name = #{name,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=CHAR}
	</update>
</mapper>