<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyi.ssm.dao.MemberHabitMapper">
	<resultMap id="BaseResultMap" type="com.xiaoyi.ssm.model.MemberHabit">
		<id column="ID" jdbcType="CHAR" property="id" />
		<result column="CreateTime" jdbcType="DATE" property="createtime" />
		<result column="MemberID" jdbcType="VARCHAR" property="memberid" />
		<result column="VenueID" jdbcType="VARCHAR" property="venueid" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, CreateTime, MemberID, VenueID
	</sql>
	
	<select id="selectByMemberVenue" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from MemberHabit where MemberID = #{memberid,jdbcType=CHAR} and  VenueID = #{venueid,jdbcType=CHAR} limit 1
	</select>
	
	<select id="countOften" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(0) FROM Venue v INNER JOIN MemberHabit mh ON v.`ID` = mh.`VenueID` WHERE mh.`MemberID` = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from MemberHabit
		where ID = #{id,jdbcType=CHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from MemberHabit
		where ID = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.xiaoyi.ssm.model.MemberHabit">
		insert into MemberHabit (ID, CreateTime, MemberID,
		VenueID)
		values (#{id,jdbcType=CHAR}, #{createtime,jdbcType=DATE}, #{memberid,jdbcType=VARCHAR},
		#{venueid,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xiaoyi.ssm.model.MemberHabit">
		insert into MemberHabit
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="createtime != null">
				CreateTime,
			</if>
			<if test="memberid != null">
				MemberID,
			</if>
			<if test="venueid != null">
				VenueID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=DATE},
			</if>
			<if test="memberid != null">
				#{memberid,jdbcType=VARCHAR},
			</if>
			<if test="venueid != null">
				#{venueid,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiaoyi.ssm.model.MemberHabit">
		update MemberHabit
		<set>
			<if test="createtime != null">
				CreateTime = #{createtime,jdbcType=DATE},
			</if>
			<if test="memberid != null">
				MemberID = #{memberid,jdbcType=VARCHAR},
			</if>
			<if test="venueid != null">
				VenueID = #{venueid,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiaoyi.ssm.model.MemberHabit">
		update MemberHabit
		set CreateTime = #{createtime,jdbcType=DATE},
		MemberID = #{memberid,jdbcType=VARCHAR},
		VenueID = #{venueid,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=CHAR}
	</update>
</mapper>