<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>天堂电影</title>
    <meta name="description" content="这是一个 index 页面"/>
    <meta name="keywords" content="index"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
</head>
<body data-type="generalComponents">
<!-- 顶部菜单栏 -->
<div th:replace="/admin/header :: header"></div>
<div class="tpl-page-container tpl-page-header-fixed">
	<!-- 左边菜单栏 -->
	<div th:replace="/admin/nav :: div"></div>
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">电视剧资源列表</div>
        <ol class="am-breadcrumb">
            <li><a href="/admin/index" class="am-icon-home">首页</a></li>
            <li><a href="#">电视剧资源管理</a></li>
            <li class="am-active">电视剧资源列表</li>
        </ol>
        <div class="tpl-portlet-components">
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <a type="button" class="am-btn am-btn-default am-btn-success am-round" href="/admin/tvResources/add"><span class="am-icon-plus"></span> 新增 </a>
                                <a type="button" class="am-btn am-btn-default am-btn-danger am-round" href="javascript:void(0);" onclick="del()"><span class="am-icon-trash-o"></span> 删除</a>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-form-group">
                            <select data-am-selected="{btnSize: 'sm'}">
                                <option value="option1">所有类别</option>
                                <option value="option2">IT业界</option>
                                <option value="option3">数码产品</option>
                                <option value="option3">笔记本电脑</option>
                                <option value="option3">平板电脑</option>
                                <option value="option3">只能手机</option>
                                <option value="option3">超极本</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="tpl-portlet-input tpl-fz-ml">
		                    <div class="portlet-input input-small input-inline">
		                        <div class="input-icon right">
		                            <i class="am-icon-search"></i>
		                            <input type="text" class="form-control form-control-solid" placeholder="搜索..."/>
		                        </div>
		                    </div>
		                </div>
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form" id="from" action="/admin/tvType">
                            <table class="am-table am-table-striped am-table-hover table-main tab">
                                <thead>
                                <tr>
                                    <th class="table-check">
                                        <input type="checkbox" class="tpl-table-fz-check"/>
                                    </th>
                                    <th class="table-id">ID</th>
                                    <th class="table-title">电视剧名称</th>
                                    <th class="table-type">集数</th>
                                    <th class="table-date am-hide-sm-only">清晰度</th>
                                    <th class="table-title">视频大小</th>
                                    <th class="table-type">下载方式</th>
                                    <th class="table-type">创建时间</th>
                                    <th class="table-set">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="list,item:${pageBean.items}">
                                    <td>
                                        <input id="ids" name="ids" th:value="${list.id }" type="checkbox"/>
                                    </td>
                                    <td th:text="${list.id}">1</td>
                                    <td><a href="#" th:text="${list.id}">Business management</a></td>
                                    <td th:text="${list.episodes}">1</td>
                                    <td th:text="${list.clarity}"></td>
                                    <td><a href="#" th:text="${list.size}">Business management</a></td>
                                    <td th:text="${list.downlodMode}?'迅雷':'百度云'">1</td>
                                    <td th:text="${#dates.format(list.createOn, 'yyyy-MM-dd HH:mm')}">2014年9月4日 7:28:47</td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-toolbar">
	                                            <div class="am-btn-group am-btn-group-xs">
	                                                <a class="am-btn am-btn-default am-btn-secondary"  th:href="@{'/admin/tvResources/edit?id='+${list.id}}">
	                                                <span class="am-icon-pencil-square-o"></span> 编辑
	                                                </a>
	                                                <a class="am-btn am-btn-default am-btn-danger"  th:href="@{'/admin/tvResources/delete?id='+${list.id}}">
	                                                    <span class="am-icon-trash-o"></span> 删除
	                                                </a>
	                                            </div>
	                                        </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="am-cf">
                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        <li class="am-disabled"><a href="#">«</a></li>
                                        <li class="am-active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">»</a></li>
                                    </ul>
                                </div>
                            </div>
                            <hr/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="nav page am-cf"></div>
        </div>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/layer/layer.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/js/pageUtils.js"></script>
<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
	//分页
	$(function(){
		$(".nav.page").initPage([[${pageBean.totalPage}]],[[${pageBean.currentPage}]],[[${pageBean.pageSize}]],'from');
	});
	//批量删除
	function del(){
	    var $ids = $(".tab input[name='ids']:enabled:checked");
	    if ($ids.size() < 1) {
	        alert('请选择要删除的选项');
	        return;
	    }
	    //询问框
	    layer.confirm('是否将此信息删除?', {
	      btn: ['确认','取消'] //按钮
	    }, function(){
	       $.ajax({
	            type:"post",
	            url:"delete",
	            data:$ids.serialize(),
	            dataType:"json",
	            success:function(data) {  	 	 
	            	if(data.code == 200){
	                	layer.msg(data.msg,{icon: 1});
	                	$.each($ids, function(index, value) {
	                        var $this = $(this);
	                        $this.closest("tr").remove();
	                    });
	            	}else if(data.code == 400){
	                	layer.msg(data.msg,{icon: 2});
	            	}
	            },
	            error:function(data) {
	            	layer.msg("删除失败",{icon: 2}); 
	            }
	       });
	    });
	} 
	//]]>
</script>
</body>
</html>